<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - PREP</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap5.min.css" />
    <link href="~/css/prepstyles.css" rel="stylesheet" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>




    <style>
        .navbar {
            background-color: #005476;
            border-radius: 0px;
        }

        .nav-link {
            color: white !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">


                @if (User.IsInRole("Administrador") || User.IsInRole("Ambos"))
                {
                    <a class="navbar-brand d-flex align-items-center" asp-controller="DatosGenerales" asp-action="DatosGeneralesPorElegibilidad">
                        <img src="~/content/img/vectores/sns-icono.svg" alt="Logo" width="40" height="40">
                    </a>
                }
                
                @if (User.IsInRole("PrEP Normal"))
                {
                    <a class="navbar-brand d-flex align-items-center" asp-controller="DatosGenerales" asp-action="DatosGeneralesPorElegibilidad">
                        <img src="~/content/img/vectores/sns-icono.svg" alt="Logo" width="40" height="40">
                    </a>
                }

                @if (User.IsInRole("PrEP Demanda"))
                {
                    <a class="navbar-brand d-flex align-items-center" asp-controller="PrepDemanda" asp-action="ElegibilidadPrepDemanda">
                        <img src="~/content/img/vectores/sns-icono.svg" alt="Logo" width="40" height="40">
                    </a>
                }


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User.IsInRole("Administrador") || User.IsInRole("PrEP Normal") || User.IsInRole("Ambos"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    PrEP
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 10pt; padding: 20px 5px 20px 5px; background-color: #17a2b8">
                                    <a style="color:white" class="dropdown-item" asp-area="" asp-controller="DatosGenerales" asp-action="CreateCedula">Pacientes</a>
                                    <a style="color:white" class="dropdown-item" asp-area="" asp-controller="DatosGenerales" asp-action="DatosGeneralesPorElegibilidad">Consultas</a>
                                    @if (User.IsInRole("PrEP Normal") || User.IsInRole("Ambos"))
                                    {
                                        <a style="color:white" class="dropdown-item" asp-area="" asp-controller="Gestionpacientes" asp-action="RecibirPacientes">Transferencias</a>

                                    }
                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <a style="color:white" class="dropdown-item" asp-area="" asp-controller="Gestionpacientes" asp-action="RecibirPacientesAdmin">Transferencias</a>

                                    }
                                    <a style="color:white" class="dropdown-item" asp-area="" asp-controller="" asp-action="#">Reportes</a>

                                </div>
                            </li>

                       
                        }


                        @if (User.IsInRole("Administrador") || User.IsInRole("PrEP Demanda") || User.IsInRole("Ambos"))
                        {


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    PrEP a Demanda
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 10pt; padding: 20px 5px 20px 5px; background-color: #17a2b8">
                                    <a style="color:white" class="dropdown-item" asp-area="" asp-controller="PrepDemanda" asp-action="HomePrepDemanda">Pacientes</a>
                                    <a style="color:white" class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Reportes</a>

                                </div>
                            </li>


                        }


                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administración
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 10pt; padding: 20px 5px 20px 5px; background-color: #17a2b8">
                                    <a style="color:white;" class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="VerUsuarios">Roles Usuarios</a>
                                    <a style="color:white;" class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="ValidarMenoresEdad">Listado de Validaciones</a>

                                </div>
                            </li>
                        }




                    </ul>
                </div>
                <div class="dropdown">

                    <div style="display: flex; align-items: center;" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div style="flex-grow: 1;">
                            <label class="datos">@User.Identity.Name</label>
                            <br />
                            <label style="font-weight:500" class="datos">@User.FindFirst("Depertamento").Value</label>
                        </div>
                        <div class="logo">@User.Identity.Name.Substring(0,1)</div>
                    </div>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="right: 0; left: auto;">

                        <div style="text-align: right;">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CerrarSesion">CERRAR SESIÓN</a>
                        </div>
                    </div>
                </div>

                <script>

                    document.querySelector('.dropdown-toggle').addEventListener('click', function () {

                        document.querySelector('.dropdown-menu').classList.toggle('show');
                    });

                    document.addEventListener('click', function (event) {
                        var dropdownMenu = document.querySelector('.dropdown-menu');
                        if (!dropdownMenu.contains(event.target)) {
                            dropdownMenu.classList.remove('show');
                        }
                    });
                </script>





            </div>
        </nav>


    </header>
    <div class="container" style="width:auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fu uu">

        <style>
            .logo {
                height: 45px;
                width: 45px;
                border-radius: 25px;
                background-color: #0b3648;
                color: white;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
            }

            .datos {
                color: white;
                font-size: 12px;
                align-items: flex-end;
            }

            .fu {
                background-color: #005476;
            }

            .uu {
                color: white !important;
            }

            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                text-align: center;
                box-sizing: border-box;
            }

            .btn-success {
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;
            }

            .nav-item.dropdown > a::after {
                content: none;
            }

            .nav-item:hover {
                background-color: #acacac;
            }

            .dropdown-item:hover {
                background-color: #acacac !important; /* Cambia el color de fondo al pasar el mouse */
            }

        </style>

        <div class="text-center">
            <div class="text-white">
                &copy; @{
                    ViewBag.Year = DateTime.Now.Year;
                } @ViewBag.Year Servicio Nacional de Salud. Todos los Derechos Reservados.
            </div>
        </div>

    </footer>

    <script>

        $(document).ready(function () {
            // Configurar DataTables
            var table = $('#miTabla').DataTable({
                "responsive": true,
                "searching": true,
                "info": false,
                "paging": false, // Desactivar paginación
                "lengthChange": false, // Desactivar el cambio de longitud de página
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                },



                drawCallback: function () {
                    // Mostrar la tabla después de que se haya inicializado DataTable
                    $('#tablaContainer').css('display', 'block');

                    // Mostrar solo las primeras 10 filas
                    $('#miTabla tbody tr').hide();

                },


            });


            $('#tablaContainer').css({
                'margin-block-end': '50px',
            });

            var delayTimer;

            // Configurar evento de búsqueda al escribir en la barra de búsqueda
            $('#miTabla_filter input').on('input', function () {
                var searchTerm = this.value.toLowerCase();
                console.log("Input event: " + searchTerm);

                if (searchTerm == "") {
                    return;
                }

                // Limpiar temporizador anterior
                clearTimeout(delayTimer);

                // Configurar un nuevo temporizador
                delayTimer = setTimeout(function () {
                    // Filtrar la tabla después del retraso
                    var filteredRows = table.search(searchTerm).rows({ search: 'applied' }).nodes();

                    // Mostrar solo las primeras 10 filas después de la búsqueda
                    $(filteredRows).slice(0, 10).show();

                    // Ocultar las filas restantes
                    $(filteredRows).slice(10).hide();
                }, 200); // Reducido a 100 ms
            });
        });



        function nav(value) {
            if (value != "") { location.href = value }
        }
                // function nav(value,id) {
                //     if (value != "") { location.href = value+"/"+id }
                // }
    </script>

    @*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @* <script>
    $(document).ready(function () {
    // Configura DataTables sin mostrar la tabla
    var table = $('#miTabla').DataTable({
    columnDefs: [{
    targets: -1,
    className: 'right'
    }],
    "paging": true,
    "pageLength": 10
    });

    // Después de que DataTables se haya configurado, muestra la tabla
    $('#tablaContainer').css('display', 'block');

    // Ahora, puedes ajustar la tabla según tus necesidades
    // Por ejemplo, puedes agregar búsqueda o paginación personalizada aquí
    });
    </script> *@

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>



    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
