@model ProyectoPREP.Models.TblPrepDemanda


<div id="divFecha" style="display:none">
	<h3>
		Formulario PrEP Demanda - Fecha inicial
	</h3>
</div>

<form id="formulario" action="/PrepDemanda/ElegibilidadSinDocumento" method="post">
	<div id="divValidarUsuario" class="form-visible">
		<h3>Identificarse en PrEP</h3>
		<table class="table">
			<tbody>
				<tr style="display:none">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>

					<td>
						<strong>Tipo de Identificación(*):</strong>
						<select style="width:486.29px" id="TipoIdentificacion" name="TipoIdentificacion" onChange=nav(this.value) class="form-control" required>
							<option value="/PrepDemanda/ElegibilidadSinDocumento">Sin Documentación</option>
							<option value="/PrepDemanda/ElegibilidadPrepDemanda">Cédula</option>
							<option value="/PrepDemanda/CreatePasaporte">Pasaporte</option>
							<option value="/PrepDemanda/CreateNSS">NSS</option>
						</select>
					</td>
					<td style="display:none">
						<strong>Identificación:</strong>
						<input type="text" id="Identificacion" class="form-control ui-autocomplete-input" onkeypress="ValidarCedulaPasaporte(this.value)" required>

					</td>
					<td style="display:none" colspan="2">
						<br>
						<input type="button" id="btnIdentificar" onclick="buscarEnPadron()" name="btnIdentificar" value="Validar" class="btn" style="display:initial; margin-bottom:0px;background-color: #2184be; color:white; display:block;">
					</td>

				</tr>
				<tr id="trLoading" style="display:none;">
					<td colspan="4" style="text-align:center;">
						<img src="~/Content/images/ajax-loader.gif">
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="divFormPrEP" class="form-invisible">

		<div id="divDatosGenerales" style="display: block;">
			<input type="hidden" id="edad" />

			<tr>
				<td>
					<div class="form-group col-2 ">
						Fecha de ingreso (*):
						<input onkeydown="return false" asp-for="FechaIngresoSai" id="txtFechaRegistroPrep" name="FechaIngresoSai" class="form-control" type="date" data-val="true" data-val-required="Este campo es obligatorio." max="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="quitarValidacionFecha(this)">
						<span asp-validation-for="FechaIngresoSai" style="color:red; margin-left:10px"></span>
					</div>
				</td>


			</tr>

			<h3 style="background-color:#005476; color:white; font-size:22px">DATOS GENERALES:</h3>

			<br />
			<label style="font-weight:bold">Todos los campos que tienen asteriscos(*) son obligatorios</label>

			<table class="table">
				<tbody>

					<tr>
						<td>
							1. Nombres (*):
							<input asp-for="Nombres" id="txtNombre" name="Nombres" placeholder="Introduzca sus nombres" class="form-control" data-val="true" data-val-required="Este campo es obligatorio.">
							<span asp-validation-for="Nombres" style="color:red;margin-left:30px"></span>
						</td>
						<td>
							2. Apellidos (*):
							<input asp-for="Apellidos" id="txtApellido" name="Apellidos" placeholder="Introduzca sus apellidos" class="form-control" data-val="true" data-val-required="Este campo es obligatorio.">
							<span asp-validation-for="Apellidos" style="color:red;margin-left:30px"></span>
						</td>

					</tr>

					<tr>
						<td>
							3. ¿Tiene cédula o pasaporte? (*):
							<input class="form-control" value="NO" asp-for="TieneDocumentos" readonly onchange="habilitarInput();" id="ddlDocumentoOpcion" name="TieneDocumentos" required />
							<span asp-validation-for="TieneDocumentos" style="color:red;margin-left:30px"></span>
						</td>

						<td>
							4. Número de cédula o pasaporte:
							<input value="SN" asp-for="Documento" id="txtDocumento" readonly name="Documento" class="form-control" required>
							<span asp-validation-for="Documento" style="color:red;margin-left:30px"></span>

						</td>

						<td>
							5. Fecha de Nacimiento (*):<br>
							<input onkeydown="return false" asp-for="FechaNacimiento" id="txtFechaNacimiento" name="FechaNacimiento" class="form-control col-1" type="date" data-val="true" data-val-required="Este campo es obligatorio." max="@DateTime.Now.ToString("yyyy-MM-dd")">
							<span asp-validation-for="FechaNacimiento" style="color:red; margin-left:20px"></span>
						</td>
					</tr>

					<tr>


						<td>
							6. Nacionalidad (*):
							<select asp-for="Nacionalidad" class="form-control" id="ddlNacionalidad" name="Nacionalidad" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="1">DOMINICANA</option>
								<option value="5">HAITIANA</option>
								<option value="18">VENEZOLANA</option>
								<option value="29">ESPAÑOLA</option>
								<option value="56">AFGANA</option>
								<option value="118">AFRICANA</option>
								<option value="113">ALBANES</option>
								<option value="24">ALEMANA</option>
								<option value="71">ANGOLEYA</option>
								<option value="136">ANTIGUANA</option>
								<option value="72">ARGELINA</option>
								<option value="8">ARGENTINA</option>
								<option value="139">ARMENIA</option>
								<option value="59">AUSTRALIANA</option>
								<option value="25">AUSTRIACA</option>
								<option value="109">BAHAMEYA</option>
								<option value="132">BANGLADESHI</option>
								<option value="117">BARBADIENSE</option>
								<option value="135">BELARUS</option>
								<option value="95">BELARUSA</option>
								<option value="26">BELGA</option>
								<option value="82">BELICENA</option>
								<option value="9">BOLIVIANA</option>
								<option value="124">BOSNIA</option>
								<option value="10">BRASILEÑA</option>
								<option value="79">BRITANICA</option>
								<option value="27">BULGARA</option>
								<option value="105">CABOVERDIANA</option>
								<option value="110">CAMBOYANA</option>
								<option value="111">CAMERUNESA</option>
								<option value="3">CANADIENSE</option>
								<option value="101">CHECA</option>
								<option value="11">CHILENA</option>
								<option value="60">CHINA</option>
								<option value="99">CHIPRIOTA</option>
								<option value="12">COLOMBIANA</option>
								<option value="126">CONGOLESA</option>
								<option value="64">COREANA</option>
								<option value="19">COSTARRICENSE</option>
								<option value="87">CROATA</option>
								<option value="6">CUBANA</option>
								<option value="102">CURAZALEYA</option>
								<option value="28">DANESA</option>
								<option value="114">DOMINICENSE</option>
								<option value="13">ECUATORIANA</option>
								<option value="73">EGIPCIA</option>
								<option value="84">ESLOVENA</option>
								<option value="128">ESTONIA</option>
								<option value="74">ETIOPE</option>
								<option value="61">FILIPINA</option>
								<option value="30">FINLANDESA</option>
								<option value="31">FRANCESA</option>
								<option value="141">GHANA</option>
								<option value="137">GIORGIANA</option>
								<option value="106">GRENADINA</option>
								<option value="32">GRIEGA</option>
								<option value="23">GUATEMALTECA</option>
								<option value="120">GUINEESE</option>
								<option value="89">GUYANESA</option>
								<option value="33">HOLANDESA</option>
								<option value="20">HONDUREÑA</option>
								<option value="34">HUNGARA</option>
								<option value="62">INDONESA</option>
								<option value="57">INDU</option>
								<option value="35">INGLESA</option>
								<option value="48">IRANI</option>
								<option value="49">IRAQUI</option>
								<option value="36">IRLANDESA</option>
								<option value="37">ISLANDESA</option>
								<option value="50">ISRAELITA</option>
								<option value="38">ITALIANA</option>
								<option value="7">JAMAIQUINA</option>
								<option value="63">JAPONESA</option>
								<option value="51">JORDANA</option>
								<option value="130">KAZAKSTAN</option>
								<option value="129">KENYAN</option>
								<option value="115">KIRIBATI</option>
								<option value="52">KUWAYTI</option>
								<option value="97">LATVIA</option>
								<option value="86">LETONA</option>
								<option value="53">LIBANESA</option>
								<option value="75">LIBERIANA</option>
								<option value="76">LIBIA</option>
								<option value="96">LIECHTENSTEIN</option>
								<option value="88">LUXEMBURGUESA</option>
								<option value="123">MACEDONIA</option>
								<option value="121">MALAGASY</option>
								<option value="65">MALAYA</option>
								<option value="116">MALIENSE</option>
								<option value="94">MALTES</option>
								<option value="108">MARFILEYA</option>
								<option value="81">MARROQUI</option>
								<option value="83">MAURICIANA</option>
								<option value="134">MELDOVIANA</option>
								<option value="4">MEXICANA</option>
								<option value="54">MONGOLESA</option>
								<option value="103">NEOZELANDESA</option>
								<option value="98">NEPALESA</option>
								<option value="21">NICARAGUENSE</option>
								<option value="77">NIGERIANA</option>
								<option value="2">NORTEAMERICANA</option>
								<option value="39">NORUEGA</option>
								<option value="58">PAKISTANI</option>
								<option value="125">PALESTINA</option>
								<option value="22">PANAMEÑA</option>
								<option value="14">PARAGUAYA</option>
								<option value="15">PERUANA</option>
								<option value="66">POLACA</option>
								<option value="40">PORTUGUESA</option>
								<option value="100">RUANDESA</option>
								<option value="41">RUMANA</option>
								<option value="42">RUSA</option>
								<option value="16">SALVADOREÑA</option>
								<option value="127">SAN MARINO</option>
								<option value="133">SANTA LUCIA</option>
								<option value="47">SAUDI</option>
								<option value="138">SENEGALES</option>
								<option value="91">SIERRA LEONE</option>
								<option value="93">SINGAPUR</option>
								<option value="55">SIRIA</option>
								<option value="78">SOMALI</option>
								<option value="131">SRILANKAN</option>
								<option value="104">ST KITTS AND NEVIS</option>
								<option value="70">SUDAFRICANA</option>
								<option value="43">SUECA</option>
								<option value="44">SUIZA</option>
								<option value="90">SURINAMESA</option>
								<option value="67">TAILANDESA</option>
								<option value="68">TAIWANESA</option>
								<option value="140">TIMORENSE</option>
								<option value="119">TOGOLESA</option>
								<option value="92">TRINITARIA</option>
								<option value="107">TUNECINA</option>
								<option value="45">TURCA</option>
								<option value="112">UCRANIA</option>
								<option value="17">URUGUAYA</option>
								<option value="122">UZBEKISTAN</option>
								<option value="69">VIETNAMITA</option>
								<option value="80">VINCENCIANA</option>
								<option value="46">YUGOSLAVA</option>
								<option value="85">ZAIREYA</option>
							</select>
							<span asp-validation-for="Nacionalidad" style="color:red;margin-left:30px"></span>

						</td>
						<td>
							7. ¿Descendiente de migrante? (*)
							<select asp-for="Descendiente" class="form-control" onchange="habilitarInput()" id="ddlDecendiente" name="Descendiente" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="SI">SI</option>
								<option value="NO">NO</option>
							</select>
							<span asp-validation-for="Descendiente" style="color:red;margin-left:30px"></span>

						</td>
						<td style="display:none" id="tdNacionalidadMadre">
							Especificar Descendencia:
							<select asp-for="NacionalidadMadre" class="form-control" disabled id="ddlNacionalidadMadre" name="NacionalidadMadre" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="1">DOMINICANA</option>
								<option value="5">HAITIANA</option>
								<option value="18">VENEZOLANA</option>
								<option value="29">ESPAÑOLA</option>
								<option value="56">AFGANA</option>
								<option value="118">AFRICANA</option>
								<option value="113">ALBANES</option>
								<option value="24">ALEMANA</option>
								<option value="71">ANGOLEYA</option>
								<option value="136">ANTIGUANA</option>
								<option value="72">ARGELINA</option>
								<option value="8">ARGENTINA</option>
								<option value="139">ARMENIA</option>
								<option value="59">AUSTRALIANA</option>
								<option value="25">AUSTRIACA</option>
								<option value="109">BAHAMEYA</option>
								<option value="132">BANGLADESHI</option>
								<option value="117">BARBADIENSE</option>
								<option value="135">BELARUS</option>
								<option value="95">BELARUSA</option>
								<option value="26">BELGA</option>
								<option value="82">BELICENA</option>
								<option value="9">BOLIVIANA</option>
								<option value="124">BOSNIA</option>
								<option value="10">BRASILEÑA</option>
								<option value="79">BRITANICA</option>
								<option value="27">BULGARA</option>
								<option value="105">CABOVERDIANA</option>
								<option value="110">CAMBOYANA</option>
								<option value="111">CAMERUNESA</option>
								<option value="3">CANADIENSE</option>
								<option value="101">CHECA</option>
								<option value="11">CHILENA</option>
								<option value="60">CHINA</option>
								<option value="99">CHIPRIOTA</option>
								<option value="12">COLOMBIANA</option>
								<option value="126">CONGOLESA</option>
								<option value="64">COREANA</option>
								<option value="19">COSTARRICENSE</option>
								<option value="87">CROATA</option>
								<option value="6">CUBANA</option>
								<option value="102">CURAZALEYA</option>
								<option value="28">DANESA</option>
								<option value="114">DOMINICENSE</option>
								<option value="13">ECUATORIANA</option>
								<option value="73">EGIPCIA</option>
								<option value="84">ESLOVENA</option>
								<option value="128">ESTONIA</option>
								<option value="74">ETIOPE</option>
								<option value="61">FILIPINA</option>
								<option value="30">FINLANDESA</option>
								<option value="31">FRANCESA</option>
								<option value="141">GHANA</option>
								<option value="137">GIORGIANA</option>
								<option value="106">GRENADINA</option>
								<option value="32">GRIEGA</option>
								<option value="23">GUATEMALTECA</option>
								<option value="120">GUINEESE</option>
								<option value="89">GUYANESA</option>
								<option value="33">HOLANDESA</option>
								<option value="20">HONDUREÑA</option>
								<option value="34">HUNGARA</option>
								<option value="62">INDONESA</option>
								<option value="57">INDU</option>
								<option value="35">INGLESA</option>
								<option value="48">IRANI</option>
								<option value="49">IRAQUI</option>
								<option value="36">IRLANDESA</option>
								<option value="37">ISLANDESA</option>
								<option value="50">ISRAELITA</option>
								<option value="38">ITALIANA</option>
								<option value="7">JAMAIQUINA</option>
								<option value="63">JAPONESA</option>
								<option value="51">JORDANA</option>
								<option value="130">KAZAKSTAN</option>
								<option value="129">KENYAN</option>
								<option value="115">KIRIBATI</option>
								<option value="52">KUWAYTI</option>
								<option value="97">LATVIA</option>
								<option value="86">LETONA</option>
								<option value="53">LIBANESA</option>
								<option value="75">LIBERIANA</option>
								<option value="76">LIBIA</option>
								<option value="96">LIECHTENSTEIN</option>
								<option value="88">LUXEMBURGUESA</option>
								<option value="123">MACEDONIA</option>
								<option value="121">MALAGASY</option>
								<option value="65">MALAYA</option>
								<option value="116">MALIENSE</option>
								<option value="94">MALTES</option>
								<option value="108">MARFILEYA</option>
								<option value="81">MARROQUI</option>
								<option value="83">MAURICIANA</option>
								<option value="134">MELDOVIANA</option>
								<option value="4">MEXICANA</option>
								<option value="54">MONGOLESA</option>
								<option value="103">NEOZELANDESA</option>
								<option value="98">NEPALESA</option>
								<option value="21">NICARAGUENSE</option>
								<option value="77">NIGERIANA</option>
								<option value="2">NORTEAMERICANA</option>
								<option value="39">NORUEGA</option>
								<option value="58">PAKISTANI</option>
								<option value="125">PALESTINA</option>
								<option value="22">PANAMEÑA</option>
								<option value="14">PARAGUAYA</option>
								<option value="15">PERUANA</option>
								<option value="66">POLACA</option>
								<option value="40">PORTUGUESA</option>
								<option value="100">RUANDESA</option>
								<option value="41">RUMANA</option>
								<option value="42">RUSA</option>
								<option value="16">SALVADOREÑA</option>
								<option value="127">SAN MARINO</option>
								<option value="133">SANTA LUCIA</option>
								<option value="47">SAUDI</option>
								<option value="138">SENEGALES</option>
								<option value="91">SIERRA LEONE</option>
								<option value="93">SINGAPUR</option>
								<option value="55">SIRIA</option>
								<option value="78">SOMALI</option>
								<option value="131">SRILANKAN</option>
								<option value="104">ST KITTS AND NEVIS</option>
								<option value="70">SUDAFRICANA</option>
								<option value="43">SUECA</option>
								<option value="44">SUIZA</option>
								<option value="90">SURINAMESA</option>
								<option value="67">TAILANDESA</option>
								<option value="68">TAIWANESA</option>
								<option value="140">TIMORENSE</option>
								<option value="119">TOGOLESA</option>
								<option value="92">TRINITARIA</option>
								<option value="107">TUNECINA</option>
								<option value="45">TURCA</option>
								<option value="112">UCRANIA</option>
								<option value="17">URUGUAYA</option>
								<option value="122">UZBEKISTAN</option>
								<option value="69">VIETNAMITA</option>
								<option value="80">VINCENCIANA</option>
								<option value="46">YUGOSLAVA</option>
								<option value="85">ZAIREYA</option>
							</select>
							<span asp-validation-for="NacionalidadMadre" style="color:red;margin-left:30px"></span>

						</td>
					</tr>

					<tr>

						<td colspan="3">
							8. Dirección actual (calle y número) (*):<input asp-for="Direccion" id="txtDireccion" name="Direccion" class="form-control" type="text" placeholder="Introduzca su dirección" data-val="true" data-val-required="Este campo obligatorio.">
							<span asp-validation-for="Direccion" style="color:red;margin-left:30px"></span>

						</td>

					</tr>

					<tr>

						<td>
							9. Sector (*):
							<input asp-for="Sector" id="txtSector" name="Sector" class="form-control" type="text" placeholder="Introduzca su sector" autocomplete="error" require="true" data-val="true" data-val-required="Este campo obligatorio.">
							<span asp-validation-for="Sector" style="color:red;margin-left:30px"></span>

						</td>

						<td>
							10. Provincia (*):
							<select asp-for="ProvinciaResidencia" onchange="llenarMunicipio()" class="form-control" id="ProvinciaResidencia" name="ProvinciaResidencia" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="01">DISTRITO NACIONAL</option>
								<option value="02">AZUA</option>
								<option value="03">BAHORUCO</option>
								<option value="04">BARAHONA</option>
								<option value="05">DAJABON</option>
								<option value="06">DUARTE</option>
								<option value="07">ELIAS PIÑA</option>
								<option value="08">EL SEIBO</option>
								<option value="09">ESPAILLAT</option>
								<option value="10">INDEPENDENCIA</option>
								<option value="11">LA ALTAGRACIA</option>
								<option value="12">LA ROMANA</option>
								<option value="13">LA VEGA</option>
								<option value="14">MARIA TRINIDAD SANCHEZ</option>
								<option value="15">MONTE CRISTI</option>
								<option value="16">PEDERNALES</option>
								<option value="17">PERAVIA</option>
								<option value="18">PUERTO PLATA</option>
								<option value="19">HERMANAS MIRABAL</option>
								<option value="20">SAMANA</option>
								<option value="21">SAN CRISTOBAL</option>
								<option value="22">SAN JUAN</option>
								<option value="23">SAN PEDRO DE MACORIS</option>
								<option value="24">SANCHEZ RAMIREZ</option>
								<option value="25">SANTIAGO</option>
								<option value="26">SANTIAGO RODRIGUEZ</option>
								<option value="27">VALVERDE</option>
								<option value="28">MONSEÑOR NOUEL</option>
								<option value="29">MONTE PLATA</option>
								<option value="30">HATO MAYOR</option>
								<option value="31">SAN JOSE DE OCOA</option>
								<option value="32">SANTO DOMINGO</option>
							</select>
							<span asp-validation-for="ProvinciaResidencia" style="color:red;margin-left:30px"></span>

						</td>

						<td>
							11. Municipio (*):
							<select asp-for="MunicipioResidencia" class="form-control" id="MunicipioResidencia" name="MunicipioResidencia" data-val="true" data-val-required="Este campo obligatorio.">
							</select>
							<span asp-validation-for="MunicipioResidencia" style="color:red;margin-left:30px"></span>

						</td>


					</tr>
					<tr>
						@*REVISAR LA EDAD*@
						@* 	<td>
						12. Edad:
						<input asp-for="Edad" id="txtEdad" name="Edad" class="form-control" type="number" placeholder="Introduzca su edad." autocomplete="error" require="true" data-val="true" data-val-required="Este campo obligatorio.">
						<span asp-validation-for="Edad" style="color:red;margin-left:30px"></span>

						</td> *@
						@*REVISAR LA EDAD*@

						<td>
							13. Peso(libras) (*): <br>
							<input asp-for="Peso" id="txtPeso" name="Peso" class="form-control" type="number"
								   min="90" max="350" placeholder="Introduzca su Peso en Lbs." data-val="true" data-val-required="Este campo es obligatorio.">
							<span asp-validation-for="Peso" lang="es-do" style="color:red; margin-left:30px"></span>
						</td>

						<td>
							14. Teléfono celular:<input asp-for="Telefono" id="txtTelefono" oninput="this.value = this.value.replace(/[^0-9,-]/,'')" minlength="12" maxlength="12" onkeypress="ValidarCelular(this.value,this.id);" name="Telefono" class="form-control telef" type="text" placeholder="Introduzca su Teléfono.">
							<span asp-validation-for="Telefono" style="color:red;margin-left:30px"></span>

						</td>


					</tr>
					<tr>
						<td>
							15. ¿Cómo se consideras a ti mismo? (*):
							<select class="form-control" asp-for="Genero" id="ddlGenero" name="Genero" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="1">Hombre</option>
								<option value="2">Mujer</option>
								<option value="3">Transgenero</option>
								@* <option value="4">No reporta</option> *@
							</select>
							<span asp-validation-for="Genero" style="color:red;margin-left:30px"></span>

						</td>

						<td>
							16. ¿Cuál fue tu sexo asignado al nacer? (*):
							<select class="form-control" asp-for="Sexo" id="ddlSexo" name="Sexo" required="" autocomplete="error" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="M">Masculino</option>
								@* <option value="F">Femenino</option> *@
							</select>
							<span asp-validation-for="Sexo" style="color:red;margin-left:30px"></span>

						</td>

					</tr>


					<tr>
						<td>
							17. ARS (*):
							<select asp-for="Ars" class="form-control" onchange="habilitarInput()" id="ddlARS" name="Ars" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="SI">SI</option>
								<option value="NO">NO</option>
							</select>
							<span asp-validation-for="Ars" style="color:red;margin-left:30px"></span>

						</td>
						<td style="display:none" id="tdARS">
							Nombre de ARS (*):
							<select asp-for="NombreArs" disabled class="form-control" id="txtNombreARS" name="NombreArs" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="1">APS</option>
								<option value="2">ASEMAP</option>
								<option value="3">BMI</option>
								<option value="4">CMD</option>
								<option value="5">FFAA</option>
								<option value="6">FUTURO</option>
								<option value="7">GALENO</option>
								<option value="8">GMA</option>
								<option value="9">HUMANO</option>
								<option value="10">IGMAM</option>
								<option value="11">ISSPOL</option>
								<option value="12">LA COLONIAL</option>
								<option value="13">META SALUD</option>
								<option value="14">MONUMENTAL</option>
								<option value="15">MAPFRE SALUD (ANTES PALIC)</option>
								<option value="16">PLAMEDIN </option>
								<option value="17">PLAN SALUD</option>
								<option value="18">RENACER</option>
								<option value="19">RESERVAS</option>
								<option value="20">SALUD SEGURA</option>
								<option value="21">SEMMA</option>
								<option value="22">SEMUNASED</option>
								<option value="23">SENASA</option>
								<option value="24">SERVICIOS DOMINICANOS DE SALUD</option>
								<option value="25">SIMAG</option>
								<option value="26">UASD</option>
								<option value="27">UNIVERSAL</option>
								<option value="28">YUNEN</option>
								<option value="29">CONSTITUCION</option>
								<option value="30">NO ASEGURADO</option>
							</select>
							<span asp-validation-for="NombreArs" style="color:red;margin-left:30px"></span>

						</td>
						<td style="display:none" colspan="2" id="tdRegimen">
							Régimen (*):
							<select asp-for="Regimen" disabled class="form-control" id="ddlRegimen" name="Regimen" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="Contributivo">Contributivo</option>
								<option value="Subsidiado">Subsidiado</option>
							</select>
							<span asp-validation-for="Regimen" style="color:red;margin-left:30px"></span>

						</td>

					</tr>

					<tr>
						<td colspan="1">
							18. Contacto de Confianza (*):

							<select onchange="habilitarInput()" class="form-control" asp-for="ContactoConfianza" required id="ddlContactoConfianza" name="ContactoConfianza" data-val="true" data-val-required="Este campo es obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="SI">SI</option>
								<option value="NO">NO</option>
							</select>
							<span style="color:red;margin-left:30px" asp-validation-for="ContactoConfianza"></span>

						</td>
					</tr>


					<tr style="display:none" id="trContacto">



						<td>
							Nombre de contacto (*):
							<input asp-for="NombreContacto" id="txtNombreContacto" name="NombreContacto" placeholder="Introduzca el Nombre de Contacto" class="form-control" data-val="true" data-val-required="Este campo es obligatorio.">
							<span asp-validation-for="NombreContacto" style="color:red;margin-left:30px"></span>
						</td>

						<td>
							Teléfono de contacto (*):
							<input asp-for="TelefonoContacto" onkeypress="ValidarCelular(this.value,this.id);" minlength="12" maxlength="12" oninput="this.value = this.value.replace(/[^0-9,-]/,'')" disabled id="txtTelefonoContacto" name="TelefonoContacto" type="text" class="form-control telef" placeholder="Introduzca Teléfono de Contacto." data-val="true" data-val-required="Este campo obligatorio.">
							<span asp-validation-for="TelefonoContacto" style="color:red;margin-left:30px"></span>

						</td>

						<td colspan="2">
							Parentesco (*):
							<select class="form-control" id="ddlParentesco" disabled asp-for="Parentesco" name="Parentesco" data-val="true" data-val-required="Este campo obligatorio.">
								<option value="">--Seleccione--</option>
								<option value="1">Padre</option>
								<option value="2">Madre</option>
								<option value="3">Tutor</option>
								<option value="4">Abuelo</option>
								<option value="5">Abuela</option>
								<option value="6">Hermano</option>
								<option value="7">Hermana</option>
								<option value="8">Tio</option>
								<option value="9">Tia</option>
								<option value="10">Primo</option>
								<option value="11">Prima</option>
								<option value="12">Amigo</option>
								<option value="13">Amiga</option>
								<option value="14">Hijo</option>
								<option value="15">Hija</option>
							</select>
							<span asp-validation-for="Parentesco" style="color:red;margin-left:30px"></span>

						</td>
					</tr>


				</tbody>
			</table>

			<div id="divElegibilidadPre" style="display: block;">
				<h3 style="background-color:#005476; color:white; font-size:22px">ELEGIBILIDAD PARA PREP (Riesgo en los últimos 6 meses)</h3>
				<table class="table">
					<tbody>



						<tr>
							<td>
								19. ¿Ha tenido relaciones sexuales con? (*)
								<select asp-for="TienesRelacionesCon" class="form-control" id="ddlSexoCon" name="TienesRelacionesCon" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Solamente con hombres">Solamente con hombres</option>
									<option value="Solamente con mujeres">Solamente con mujeres</option>
									<option value="Con ambos, mujeres y hombres">Con ambos, mujeres y hombres</option>
									<option value="Con Trabajador/a sexual">Con Trabajador/a sexual</option>
									<option value="Con Persona Trans">Con Persona Trans</option>
									<option value="No responde">No responde</option>
								</select>
								<span asp-validation-for="TienesRelacionesCon" style="color:red;margin-left:30px"></span>

							</td>
							<td>
								20. ¿Ha utilizado alguna droga ilícita? (*)
								<select asp-for="DrogasIlicitas" class="form-control" id="ddlDrogaIlicita" name="DrogasIlicitas" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Si(Endovenosas)">Si(Endovenosas)</option>
									<option value="Si(No Endovenosas)">Si(No Endovenosas)</option>
									<option value="Si ambas(Endovenosas/No Endovenosas)">Si ambas(Endovenosas/No Endovenosas)</option>
									<option value="No">No</option>
									<option value="No responde">No responde</option>
								</select>
								<span asp-validation-for="DrogasIlicitas" style="color:red;margin-left:30px"></span>

							</td>
						</tr>
						<tr>
							<td>
								21. ¿Ha intercambiado sexo por bienes económicos? (*)
								<select asp-for="SexoPorBienes" class="form-control" id="ddlIntercambiadoSexo" name="SexoPorBienes" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Si">Si</option>
									<option value="No">No</option>
									<option value="No responde">No responde</option>
								</select>
								<span asp-validation-for="SexoPorBienes" style="color:red;margin-left:30px"></span>

							</td>
							<td>
								22. ¿Su pareja sexual ha tenido intercambio por bienes económicos o materiales? (*)
								<select asp-for="SexoPorBienesPareja" class="form-control" id="ddlIntercambiadoSexo2" name="SexoPorBienesPareja" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Si">Si</option>
									<option value="No">No</option>
									<option value="No sabe">No sabe</option>
									<option value="No responde">No responde</option>
								</select>
								<span asp-validation-for="SexoPorBienesPareja" style="color:red;margin-left:30px"></span>

							</td>
						</tr>
						<tr>
							<td>
								23. ¿Ha tenido relaciones sexuales sin condón? (*)
								<select class="form-control" asp-for="SexoSinProteccion" id="ddlSexoSinProteccion" name="SexoSinProteccion" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Si">Si</option>
									<option value="No">No</option>
									<option value="No responde">No responde</option>
								</select>
								<span asp-validation-for="SexoSinProteccion" style="color:red;margin-left:30px"></span>

							</td>
							<td>
								24. ¿Ha tenido 2 o más parejas sexuales? (*)
								<select class="form-control" id="ddlCantParejas" asp-for="CantParejasSexuales" name="CantParejasSexuales" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Si">Si</option>
									<option value="No">No</option>
									<option value="No responde">No responde</option>
								</select>
								<span asp-validation-for="CantParejasSexuales" style="color:red;margin-left:30px"></span>

							</td>
						</tr>
						<tr>

							<td>
								25. ¿Ha tenido relaciones sexuales con personas VIH Positivas? (*)
								<select asp-for="SexoConVihpositivo" class="form-control" id="ddlSexoVIHPositivo" name="SexoConVihpositivo" data-val="true" data-val-required="Este campo obligatorio.">
									<option value="">--Seleccione--</option>
									<option value="Si">Si</option>
									<option value="No">No</option>
									<option value="No sabe">No sabe</option>
								</select>
								<span asp-validation-for="SexoConVihpositivo" style="color:red;margin-left:30px"></span>

							</td>
						</tr>

					</tbody>
				</table>
			</div>

			<div id="divRequisitosPrep" style="display: block;">
				<h3 style="background-color:#005476; color:white; font-size:22px">REQUISITOS PARA PREP: Se consideran elegibles todos (as) que satisfacen TODOS Y CADA UNO de los siguintes requisitos:</h3>
				<table class="table">
					<tbody>

						<tr>
							<td>
								¿Prueba de VIH realizada? (*)
								<div class="radio radio-info">
									<input id="chkSeronegativo1" data-val="true" data-val-required="Este campo es obligatorio." onclick="mostrarVIH(value);" asp-for="SeronegativoVih" name="SeronegativoVih" class="styled" type="radio" value="Si">
									<label for="chkSeronegativo1">
										Si
									</label>
								</div>
								<div class="radio radio-info">
									<input id="chkSeronegativo2" required asp-for="SeronegativoVih" name="SeronegativoVih" onclick="mostrarVIH(value);" class="styled" type="radio" value="No">
									<label for="chkSeronegativo2">
										No
									</label>

								</div>
								<label>Nota:</label> resultados de prueba no debe de tener más de 48 horas.
								<span asp-validation-for="SeronegativoVih" style="color:red;margin-left:20px"></span>

							</td>

							<td>
								Fecha de realización (Prueba VIH) (*):
								<br>
								<div class="form-group col-md-8">
									<input id="txtFechaRealizacionPrueba" onkeydown="return false" data-val="true" disabled data-val-required="Este campo es obligatorio." onchange="quitarValidacionFecha(this)" asp-for="FechaPruebaVih" name="FechaPruebaVih" class="form-control habilitarVIH pruebaVIH" type="date">
									<span asp-validation-for="FechaPruebaVih" style="color:red;"></span>
								</div>
							</td>



							<td>
								Fecha de resultados(Prueba VIH) (*):
								<br>
								<div class="form-group col-md-8">

									<input id="FechaEntregaVih" onkeydown="return false" asp-for="FechaEntregaVih" disabled data-val="true" data-val-required="Este campo es obligatorio." onchange="quitarValidacionFecha(this)" name="FechaEntregaVih" class="form-control habilitarVIH pruebaVIH " type="date" />
									<span asp-validation-for="FechaEntregaVih" style="color:red"></span>
								</div>
							</td>

							<td>
								Resultado de la Prueba del VIH (*):
								<br>
								<div class="radio radio-info">
									<input id="rdVIH1" class="styled habilitarVIH pruebaVIH" disabled asp-for="ResultadoPruebaVih" type="radio" data-val="true" data-val-required="Este campo es obligatorio." name="ResultadoPruebaVih" value="Negativo">
									<label for="rdVIH1">
										Negativo
									</label>
								</div>

								<div class="radio radio-info">
									<input id="rdVIH2" class="styled habilitarVIH pruebaVIH" disabled asp-for="ResultadoPruebaVih" type="radio" required onclick="resultadoVIH(value);" name="ResultadoPruebaVih" value="Positivo">
									<label for="rdVIH2">

										Positivo
									</label>
								</div>
								<span asp-validation-for="ResultadoPruebaVih" style="color:red;margin-left:20px"></span>

							</td>
						</tr>

					</tbody>
				</table>
			</div>


			<div id="divPrEPTratamiento">
				<h3 style="background-color:#005476; color:white; font-size:22px">PRUEBAS DIAGNÓSTICAS INICIALES</h3>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<div class="form-group col-md-6">
									<label style="color:red">
										Tiene más de 6 meses en terapia hormonal (solo aplica para hombres):
										<input type="checkbox" id="chkHormonal" onchange="calcularCreatininaCheck()" name="chkHormonal" value="true">

									</label>
									<br />

									Resultado de Creatinina(Plasmatica):
									<br>
									<input id="txtValorCreatinina" data-val="true" data-val-required="Este campo es obligatorio." onchange="calcularCreatinina(value);" asp-for="ValorCreatinina" name="ValorCreatinina" step=".1" type="number" min="0.1" max="60" style="width: 100%;" class="segundaParte form-control col-sm-2">
									<span asp-validation-for="ValorCreatinina" style="color:red;"></span>
									<br>

									Fecha:
									<br>
									<input id="txtFechaResultadoCreatinina" onkeydown="return false" data-val="true" onchange="quitarValidacionFecha(this)" data-val-required="Este campo es obligatorio." asp-for="FechaCreatinina" name="FechaCreatinina" class="segundaParte form-control col-sm-2 date" type="date">
									<span asp-validation-for="FechaCreatinina" style="color:red;"></span>
									<br>
									Resultado:
									<br>
									<input id="ResultadoCreatinina" readonly asp-for="ResultadoCreatinina" name="ResultadoCreatinina" class="form-control segundaParte" />
								</div>
							</td>
							<td colspan="2">


								Rango valores de Creatinina
								<br>
								<ul>
									<li> 61-70 ml/min</li>
									<li>71-80 ml/min</li>
									<li>81-90 ml/min</li>
									<li>91-100 ml/min</li>
									<li>&gt;100 ml/min</li>
								</ul>

								<br>
								<span style="font-size:1em;">
									- Hombres:[140-(edad) x Peso(Kg)]/[72 x Creatinina plasmatica]<br>
									- Mujeres:[140-(edad) x Peso(Kg) x 0.85]/[72 x Creatinina plasmatica]<br>
									- Utilizar la fórmula de mujeres en mujeres biológicas y Trans que <br>tengan más de 6 meses en terapia de reemplazo hormonal.

								</span>
							</td>
							<td>
								Tiene un aclaramiento de creatinina (TFGe) menor de 60ml/min
								<div class="radio radio-info">
									<input id="chkaclaramiento1" required asp-for="AclaramientoCreatinina" data-val="true" data-val-required="Este campo es obligatorio." name="AclaramientoCreatinina" class="styled segundaParte" type="radio" value="Si" readonly>
									<label for="chkaclaramiento1">
										Si
									</label>
								</div>
								<div class="radio radio-info">
									<input id="chkaclaramiento2" required asp-for="AclaramientoCreatinina" name="AclaramientoCreatinina" class="styled segundaParte" type="radio" value="No" readonly>
									<label for="chkaclaramiento2">
										No
									</label>
								</div>
								<span asp-validation-for="AclaramientoCreatinina" style="color:red;margin-left:20px"></span>
							</td>



						</tr>
						<tr>

							<td class="col-md-3">


								<div class="form-group radio">
									Sifilis(VDRL) Realizada:
									<input onchange="mostrarSifilis();" type="checkbox" id="vihS" />
									<br />
									<br />

									<div style="margin-left: 24px;">
										<input id="rdsifilis1" asp-for="Sifilis" disabled data-val="true" data-val-required="Este campo es obligatorio." class=" habilitarSifilis styled segundaParte" type="radio" name="Sifilis" value="No Reactivo">
										<label for="rdsifilis1">No Reactivo</label>


									</div>
									<div style="margin-left: 24px;">
										<input id="rdsifilis2" disabled asp-for="Sifilis" class="styled habilitarSifilis segundaParte" type="radio" name="Sifilis" value="Reactivo">
										<label for="rdsifilis2">Reactivo</label>
									</div>
									<span asp-validation-for="Sifilis" style="color:red;"></span>

									<br />
									<input id="txtfechasifilis1" data-val="true" disabled data-val-required="Este campo es obligatorio."
										   name="SifilisFecha" asp-for="Sifilis" onkeydown="return false" class="form-control col-sm-2 date habilitarSifilis segundaParte"
										   type="date" style="display:initial;width: 155px;" placeholder="Fecha"
										   onchange="quitarValidacionFecha(this)" />									<br />
									<br />
									<span asp-validation-for="SifilisFecha" style="color:red;"></span>
								</div>


							</td>
							<td class="col-md-3">


								<div class="form-group radio ">
									HBsAg Realizada:
									<input onchange="mostrarHepatitis();" type="checkbox" id="vihH" />

									<br />
									<br />

									<div style="margin-left: 24px;">
										<input id="rdHBsAg1" asp-for="HbsAg" data-val="true" disabled data-val-required="Este campo es obligatorio."  class="styled habilitarSifilisB segundaParte" type="radio" name="HbsAg" value="Negativo">
										<label for="rdHBsAg1">Negativo</label>
									</div>

									<div style="margin-left: 24px;">
										<input id="rdHBsAg2" asp-for="HbsAg" disabled  class="styled habilitarSifilisB segundaParte" type="radio" name="HbsAg" value="Positivo">
										<label for="rdHBsAg2">Positivo</label>
									</div>
									<span asp-validation-for="HbsAg" style="color:red;"></span>
									<br />

									<input id="txtfechaHBsAg1" asp-for="HbsAgFecha" disabled data-val="true" data-val-required="Este campo es obligatorio."
										   onkeydown="return false" name="HbsAgFecha" class="form-control habilitarSifilisB col-sm-5  date segundaParte"
										   type="date" style="display:initial;width: 155px;" placeholder="Fecha" onchange="quitarValidacionFecha(this)" />									<br />
									<br />
									<span asp-validation-for="HbsAgFecha" style="color:red;"></span>
								</div>
							</td>

							<td class="col-md-3">

								<div class="form-group radio">
									Hepatitis C Realizada:
									<input onchange="mostrarHepatitisC();" type="checkbox" id="vihHC" />

									<br />
									<br />
									<div style="margin-left:24px">
										<input id="rdHepatitis1" asp-for="HepatitisC" disabled data-val="true" data-val-required="Este campo es obligatorio."  class="styled habilitarSifilisC segundaParte" type="radio" name="HepatitisC" value="Negativo">
										<label for="rdHepatitis1">Negativo</label>
									</div>

									<div style="margin-left:24px">
										<input id="rdHepatitis2" asp-for="HepatitisC" disabled class="styled habilitarSifilisC segundaParte" type="radio" name="HepatitisC" value="Positivo">
										<label for="rdHepatitis2">Positivo</label>
									</div>
									<span asp-validation-for="HepatitisC" style="color:red;"></span>

									<br />
									<input id="txtfechaHepatitis" onkeydown="return false" disabled asp-for="HepatitisCFecha" data-val="true"
										   data-val-required="Este campo es obligatorio." name="HepatitisCFecha" class="form-control habilitarSifilisC col-sm-8 date segundaParte"
										   type="date" style="display:initial;width: 155px;" placeholder="Fecha"
										   onchange="quitarValidacionFecha(this)" />									<br />
									<br />
									<span asp-validation-for="HepatitisCFecha" style="color:red;"></span>
								</div>
							</td>
							<td class="col-md-3">

								<div class="radio form-group">
									ITS sindrómico:
									<br />
									<br />

									<div style="margin-left: 24px;">

										<input id="ITDSindromico2" asp-for="ItsDiagnosticoPresuntivo" data-val="true" data-val-required="Este campo es obligatorio." onclick="habilitarInputsindrómico(value);" class="styled segundaParte" type="radio" name="ItsDiagnosticoPresuntivo" value="Si">
										<label for="ITDSindromico2">Si</label>

									</div>

									<div style="margin-left: 24px;">
										<input id="ITDSindromico1" asp-for="ItsDiagnosticoPresuntivo" required onclick="habilitarInputsindrómico(value);" class="styled segundaParte" type="radio" name="ItsDiagnosticoPresuntivo" value="No">
										<label for="ITDSindromico1">No</label>
									</div>
									<span asp-validation-for="ItsDiagnosticoPresuntivo" style="color:red;"></span>

									<br>
									<input name="SecrecionUretral" disabled class="sindromico" type="checkbox" value="true" /> Secrecion Uretral
									<br>
									<input name="SecrecionVaginal" disabled class="sindromico" type="checkbox" value="true" /> Secrecion Vaginal
									<br>
									<input name="UlceraGenital" disabled class="sindromico" type="checkbox" value="true" /> Ulcera genital
									<br>
									<input name="VerrugasGenitales" disabled class="sindromico" type="checkbox" value="true" /> Verrugas genitales
									<br />
									@* <span style="color:red">@TempData["Sindromico"]</span> *@
									<span id="checkboxValidationError" style="color:red; display:none;"></span>

								</div>

							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div id="divTratamientoPrep">
				<h3 style="background-color:#005476; color:white; font-size:22px">Tratamiento de la PrEP</h3>


				<table class="table">
					<tbody>
						<tr>

							<td>
								<strong>PrEP(ARV) Prescrita:</strong>
								<br>
								<input id="td1" onclick="ARV(this.id);" name="PrepArvTdfFtc" value="true" class="styled" type="checkbox"> TDF/FTC <br>
								<input id="td2" onclick="ARV(this.id);" name="PrepArvTdf3tc" class="styled" value="true" type="checkbox"> TDF/3TC <br>
								<input id="td3" onclick="ARV(this.id);" name="PrepArvTafFtc" class="styled" value="true" type="checkbox"> TAF/FTC <br />
								<span style="color:red">
									@TempData["ARV"]
								</span>
							</td>
							<td>

								<strong>Meses de prescripción</strong>

								<select id="Meses_prescripcion" required name="MesesPrescripcion" asp-for="MesesPrescripcion" class="form-control" autocomplete="error">
									<option value="">--Seleccione--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
								<span asp-validation-for="MesesPrescripcion" style="color:red;"></span>

							</td>
							<td>


								<div class="form-group col-md-7">
									<strong>Fecha Próximo seguimiento:</strong>
									<input asp-for="FechaProximoSeguimiento" id="FechaProximoSeguimiento" name="FechaProximoSeguimiento" onkeydown="return false" class="form-control center" type="date" required autocomplete="error">
									<span asp-validation-for="FechaProximoSeguimiento" style="color:red;"></span>

								</div>
							</td>
						</tr>

						<tr>

							<td colspan="4">
								Observaciones:<br>
								<input type="text" id="Observaciones" name="Observaciones" asp-for="Observaciones" class="form-control" autocomplete="error">
								<span asp-validation-for="Observaciones" style="color:red;"></span>

							</td>
						</tr>

					</tbody>

				</table>
			</div>



		</div>
	</div>
	<input id="paId" type="hidden" value="@TempData["idPaciente"]" />
	<div id="divMensaje" style="color:red;"></div>
	<div id="divBotones" style="display: block;">
		<button type="submit" name="Ejecutar" id="Ejecutar" class="btn btn-success"><i class="fa-solid fa-check"></i> Registrar</button>
		<a href="HomePrepDemanda" name="Cancelar" id="Cancelar" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancelar</a>
		<br />
		<br />
		<p id="paciId" style="font-size:20px;display:none"><b>El Id del paciente es: </b>@TempData["idPaciente"]</p>
		<br />
		<br />
	</div>

</form>


@* <div class="modal" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="color:red">Advertencia</h5>
				<button type="button" onclick="cerrarModal();" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="cuerpoModal">¿Estás seguro de que deseas enviar el formulario?</p>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="cerrarModal();" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" onclick="confirmarEnvio();" class="btn btn-primary">Confirmar</button>
			</div>
		</div>
	</div>
</div> *@

<div class="modal" id="menor" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="color:red; margin-left: 90px;">
					Advertencia
				</h5>
				<button type="button" onclick="cerrarModalMenor();" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="cuerpoModalMenor" style="text-align:center">El ciudadano tiene un aclaramiento de creatinina(TfGe) menor 60ml/min. El formulario se da por terminado y rechazada la solicitud.</p>

			</div>
			<div class="modal-footer">
				<button type="button" onclick="paginaPrincipal();" class="btn btn-secondary " data-dismiss="modal">Aceptar</button>
				<button type="button" onclick="cerrarModalMenor();" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>


@section scripts{
	<script type="text/javascript">

		function ValidarCelular(a, id) {

			var datos = a;
			let resultado = datos;

			if (resultado.length == 3) {
				resultado = datos + "-";
			}

			if (resultado.length == 7) {
				resultado = datos + "-";
			}

			if (resultado.length <= 11) {
				document.getElementById(id).value = resultado;
			}

		}

		function ValidarCedulaPasaporte(a) {
			if (true) {

				if (true) {
					var datos = a;
					let resultado = datos;

					if (resultado.length == 3) {
						resultado = datos + "-";
					}

					if (resultado.length == 11) {
						resultado = datos + "-";
					}

					if (resultado.length <= 13) {
						document.getElementById("Identificacion").value = resultado;
					}
				}
			}
		}

		var ARV = (e) => {
			var td1 = document.getElementById("td1").checked;
			var td2 = document.getElementById("td2").checked;
			var td3 = document.getElementById("td3").checked;

			if (e == "td1") {
				document.getElementById("td2").checked = false;
				document.getElementById("td3").checked = false;

			}
			if (e == "td2") {
				document.getElementById("td1").checked = false;
				document.getElementById("td3").checked = false;

			}
			if (e == "td3") {
				document.getElementById("td1").checked = false;
				document.getElementById("td2").checked = false;

			}
		}

		var mostrarVIH = (e) => {

			if (e == "Si") {
				$(".habilitarVIH").removeAttr("disabled");
			} else {
				$(".habilitarVIH").attr("disabled", true);
				$(".habilitarVIH").prop("checked", false); // Limpiar selección de los radios
				$(".habilitarVIH[type='date']").val(''); // Limpiar campos de fecha
				
			}
		}

		var mostrarSifilis = () => {
			var vihS = document.getElementById("vihS").checked;

			if (vihS) {
				$(".habilitarSifilis").removeAttr("disabled");
			} else {
				$(".habilitarSifilis").attr("disabled", true);
				$(".habilitarSifilis").prop("checked", false); // Limpiar selección de los radios
				$(".habilitarSifilis[type='date']").val(''); // Limpiar campos de fecha
			}
		}

		var mostrarHepatitis = () => {
			var vihH = document.getElementById("vihH").checked;

			if (vihH) {
				$(".habilitarSifilisB").removeAttr("disabled");
			} else {
				$(".habilitarSifilisB").attr("disabled", true);
				$(".habilitarSifilisB").prop("checked", false); // Limpiar selección de los radios
				$(".habilitarSifilisB[type='date']").val(''); // Limpiar campos de fecha
			}
		}

		var mostrarHepatitisC = () => {
			var vihHC = document.getElementById("vihHC").checked;

			if (vihHC) {
				$(".habilitarSifilisC").removeAttr("disabled");
			} else {
				$(".habilitarSifilisC").attr("disabled", true);
				$(".habilitarSifilisC").prop("checked", false); // Limpiar selección de los radios
				$(".habilitarSifilisC[type='date']").val(''); // Limpiar campos de fecha

			}
		}

		function quitarValidacionFecha(element) {
			// Remover mensaje de validación y clase de error
			$(element).removeClass("input-validation-error");
			$(element).closest('.form-group').find("span.field-validation-error")
				.addClass("field-validation-valid")
				.removeClass("field-validation-error")
				.text('');
		}

		var habilitarInputsindrómico = (value) => {
			// Oculta el mensaje de validación del radio button
			$("span[asp-validation-for='ItsDiagnosticoPresuntivo']").text("").hide();

			if (value === "Si") {
				// Habilita los checkboxes
				$(".sindromico").prop("disabled", false);

				// Validación al cambiar el estado de los checkboxes
				$(".sindromico").change(function () {
					validarCheckboxes();
				});

				// Verifica la condición de los checkboxes cuando se selecciona "Sí"
				validarCheckboxes();

			} else if (value === "No") {
				// Deshabilita y desmarca los checkboxes y oculta el mensaje de validación de los checkboxes
				$(".sindromico").prop("checked", false).prop("disabled", true);
				$("#checkboxValidationError").text("").hide();
			}
		}

		var validarCheckboxes = () => {
			// Revisa si al menos un checkbox está seleccionado
			if ($(".sindromico:checked").length === 0) {
				// Muestra el mensaje de error si no hay ningún checkbox marcado
				$("#checkboxValidationError").text("Debe seleccionar al menos una opción.").show();
			} else {
				// Oculta el mensaje de error si hay al menos un checkbox marcado
				$("#checkboxValidationError").text("").hide();
			}
		}

		const calcularCreatinina = () => {
			var KG = 2.205;
			var Edad = document.getElementById("edad").value;
			var Peso = document.getElementById("txtPeso").value;
			var sexo = document.getElementById("ddlSexo").value;
			var genero = document.getElementById("ddlGenero").value;
			var chkHormonal = document.getElementById("chkHormonal").checked;
			var PesoKG = Peso / KG;

			var valorCreatinina = document.getElementById("txtValorCreatinina").value;

			if (genero == "3" && chkHormonal == true) {
				var Resultado = ((140 - Edad) * PesoKG * 0.85) / (72 * valorCreatinina);
				document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);
				setTimeout(menorCreatina, 1000);

			}
			if (genero == "1") {

				var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
				document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

			}


			if (genero == "2") {
				var Resultado = ((140 - Edad) * PesoKG * 0.85) / (72 * valorCreatinina);
				document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

			}
			if (genero == "3" && chkHormonal == false) {

				var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
				document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);
			}

			if (sexo == "M" && genero == "4") {

				var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
				document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

			}

			if (sexo == "F" && genero == "4") {

				var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
				document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

			}
			// Hombres:[140-(edad) x Peso(Kg)]/[72 x Creatinina plasmatica]
			// Mujeres:[140-(edad) x Peso(Kg) x 0.85]/[72 x Creatinina plasmatica]
			setTimeout(menorCreatina, 1000);
		}

		const menorCreatina = () => {
			var creatina = document.getElementById("ResultadoCreatinina").value;

			if (creatina < 60) {
				$('#menor').modal('show');


			} else {
				document.getElementById("chkaclaramiento2").checked = true;
			}
		}
		
		// document.getElementById('formulario').addEventListener('submit', function (event) {
		// 	event.preventDefault(); // Evita el envío del formulario
		// 	$('#myModal').modal('show'); // Muestra el modal
		// });

		function cerrarModal() {
			$('#myModal').modal('hide'); // Cierra el modal
		}

		function cerrarModalMenor() {
			$('#menor').modal('hide'); // Cierra el modal
		}

		// function confirmarEnvio() {
		// 	cerrarModal(); // Cierra el modal
		// 	document.getElementById('formulario').submit(); // Envía el formulario
		// }


		const paginaPrincipal = () => {
			var local = window.location.host;
			console.log(local);
			var origin = "/PrepDemanda/HomePrepDemanda";
			window.location.href = "https://" + local + origin;
		}


		const llenarMunicipio = () => {
			$("#MunicipioResidencia").empty();
			var ProvinciaResidencia = document.getElementById("ProvinciaResidencia").value;

			$.post("@Url.Action("llenarMunicipio","PrepDemanda")", { id: ProvinciaResidencia }, function (modelos) {
				var municipios = modelos.lista
				console.log(modelos);
				for (let i = 0; i < municipios.length; i++) {


					const select = document.querySelector("#MunicipioResidencia");
					const option = document.createElement('option');
					const valor = municipios[i];
					option.value = valor.idMunicipio;
					option.text = valor.municipio;
					select.appendChild(option);
				}

				//MunicipioResidencia
			});
		}
		function nav(value) {
			if (value != "") { location.href = value }
		}

		const habilitarInput = () => {

			var descendiente = document.getElementById("ddlDecendiente").value;
			var ddlContactoConfianza = document.getElementById("ddlContactoConfianza").value;
			var ddlARS = document.getElementById("ddlARS").value;
			//var ddlDocumentoOpcion = document.getElementById("ddlDocumentoOpcion").value;

			if (descendiente == "SI") {

				$("#ddlNacionalidadMadre").removeAttr("disabled");
				document.getElementById("tdNacionalidadMadre").style.display = "";
			} else {
				$("#ddlNacionalidadMadre").attr("disabled", true);
				document.getElementById("tdNacionalidadMadre").style.display = "none";

			}

		

			if (ddlContactoConfianza == "SI") {

				$("#txtNombreContacto").removeAttr("disabled");
				$("#txtTelefonoContacto").removeAttr("disabled");
				$("#ddlParentesco").removeAttr("disabled");
				document.getElementById("trContacto").style.display = "";

			} else {
				$("#txtNombreContacto").attr("disabled", true);
				$("#txtTelefonoContacto").attr("disabled", true);
				$("#ddlParentesco").attr("disabled", true);
				document.getElementById("trContacto").style.display = "none";

			}


			if (ddlARS == "SI") {

				$("#txtNombreARS").removeAttr("disabled");
				$("#ddlRegimen").removeAttr("disabled");
				document.getElementById("tdARS").style.display = "";
				document.getElementById("tdRegimen").style.display = "";

			} else {
				$("#txtNombreARS").attr("disabled", true);
				$("#ddlRegimen").attr("disabled", true);
				document.getElementById("tdARS").style.display = "none";
				document.getElementById("tdRegimen").style.display = "none";

			}


		};

		document.addEventListener("DOMContentLoaded", function (event) {
			var idpa = document.getElementById("paId").value;

			if(idpa != ""){
				document.getElementById("paciId").style.display = "";
				document.getElementById("Cancelar").innerHTML = "Retroceder";
				document.getElementById("Cancelar").style.backgroundColor = "#005476";
				$("#Ejecutar").attr("disabled", true);

			}
		});

		// document.addEventListener("DOMContentLoaded", function () {
		// 	// Agregar un controlador de eventos al formulario
		// 	document.getElementById("formulario").addEventListener("submit", function (event) {
		// 		// Obtener el valor del campo de peso
		// 		var pesoInput = document.getElementById("txtPeso");
		// 		var peso = parseFloat(pesoInput.value.trim()); // Eliminar espacios en blanco y convertir a número
		// 		var pesoMin = parseFloat(pesoInput.min);
		// 		var pesoMax = parseFloat(pesoInput.max);

		// 		// Verificar si el campo de peso está vacío
		// 		if (isNaN(peso) || pesoInput.value.trim() === "") {
		// 			// Mostrar mensaje de error para campo obligatorio
		// 			document.getElementById("pesoValidationMsg").innerText = 0;
		// 			// Evitar el envío del formulario
		// 			event.preventDefault();
		// 		} else if (peso < pesoMin || peso > pesoMax) {
		// 			// Mostrar mensaje de error para valor fuera del rango
		// 			document.getElementById("pesoValidationMsg").innerText = "El peso debe estar entre " + pesoMin + " y " + pesoMax + " libras.";
		// 			// Evitar el envío del formulario
		// 			event.preventDefault();
		// 		} else {
		// 			// Limpiar mensaje de error si el valor es válido
		// 			document.getElementById("pesoValidationMsg").innerText = "";
		// 		}
		// 	});
		// });

		// document.addEventListener("DOMContentLoaded", function () {
		// 	// Agregar un controlador de eventos al formulario
		// 	var formulario = document.getElementById("formulario");
		// 	if (formulario) {
		// 		formulario.addEventListener("submit", function (event) {
		// 			// Obtener el valor del campo de talla
		// 			var tallaInput = document.getElementById("TallaPulgadas");
		// 			if (tallaInput) {
		// 				var talla = parseFloat(tallaInput.value); // Convertir a número
		// 				var tallaMin = parseFloat(tallaInput.min);
		// 				var tallaMax = parseFloat(tallaInput.max);

		// 				// Verificar si el campo de talla está vacío o no es un número
		// 				if (isNaN(talla) || tallaInput.value.trim() === "") {
		// 					// Mostrar mensaje de error para campo obligatorio
		// 					document.getElementById("tallaPulgadaValidation").innerText = "Este campo es obligatorio.";
		// 					// Evitar el envío del formulario
		// 					event.preventDefault();
		// 				} else if (talla < tallaMin || talla > tallaMax) {
		// 					// Mostrar mensaje de error para valor fuera del rango
		// 					document.getElementById("tallaPulgadaValidation").innerText = "Este número debe estar entre " + tallaMin + " y " + tallaMax + ".";
		// 					// Evitar el envío del formulario
		// 					event.preventDefault();
		// 				} else {
		// 					// Limpiar mensaje de error si el valor es válido
		// 					document.getElementById("tallaPulgadaValidation").innerText = 0;
		// 				}
		// 			}
		// 		});
		// 	}
		// });


		$(document).ready(function () {
			$('#txtNombre, #txtApellido, #txtNombreContacto').on('input', function () {
				var inputValue = $(this).val();
				var onlyLetters = /^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$/.test(inputValue);

				if (!onlyLetters) {
					// Si se introduce algún número, limpiamos el valor del campo
					$(this).val(inputValue.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ\s]/g, ''));
				}
			});
		});


		$(document).ready(function () {
			$('#txtPeso, #txtTallaPies, #TallaPulgadas').on('input', function () {
				var inputValue = $(this).val();
				// Reemplaza todo lo que no es un número con una cadena vacía
				$(this).val(inputValue.replace(/[^\d]/g, ''));
			});
		});



		//VALIDACION PARA RESTRINGIR QUE NO SE INGRESEN MENORES DE EDAD

		function applyDateRestriction() {
			const dateInput = document.getElementById('txtFechaNacimiento');
			const isRestricted = localStorage.getItem('restrictDate') !== 'true';
			const today = new Date();
			const maxDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate());
			const formattedMaxDate = maxDate.toISOString().split('T')[0];

			if (isRestricted) {
				dateInput.max = formattedMaxDate;
			} else {
				dateInput.max = '';
			}
		}

		// Aplicar restricción al cargar la página
		document.addEventListener('DOMContentLoaded', (event) => {
			applyDateRestriction();
		});

		// Escuchar cambios en localStorage para actualizar la restricción de fecha dinámicamente
		window.addEventListener('storage', (event) => {
			if (event.key === 'restrictDate') {
				applyDateRestriction();
			}
		});

	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
@* <span style="margin-left:30px;color:red;" asp-validation-for="Kilataje" class="text-danger"></span>
<br />
 *@