@model List<DatosGenerales>
@using X.PagedList.Mvc.Core
@using X.PagedList;

@{
    ViewBag.Title = "PREP DEMANDA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();
}

@* <link href="~/css/prepstyles.css" rel="stylesheet" />
 *@



<div>

    <div class="panel-group">


        <div class="panel panel-info">
            <div class="panel-heading">Formulario de Selección Profilaxis Pre-Exposición <label>(PrEP Demanda)</label></div>
            <div class="panel-body">



                <div class="row">

                    <div class="col-md-2">

                        <br />
                            
                        <a style="background:#d9edf7" asp-action="ElegibilidadPrepDemanda" asp-controller="PrepDemanda" class="btn"><i class="fa fa-plus"></i> Crear nuevo</a>


                    </div>
                    <br />

                     

                </div>



            </div>
        </div>


    </div>
</div>


<div style="display: none;" id="tablaContainer">
    <br>
    <table id="miTabla" class="table display" data-role="table" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Nacionalidad</th>
                <th>Fecha de registro</th>
                <th>Acciones</th>
                <th style="display:none">condicion</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="condicion" id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Sexo</td>
                    <td>@item.Documento</td>
                    <td>@item.NOMBRE_CORTO_ES</td>
                    <td>@item.Fecha_Ingreso_SAI.ToString("dd-MM-yyyy").Substring(0, 10)</td>
                    <td>
                        <a title="Modificar la fecha inicial" class="btn btn-info " href="~/PrepDemanda/DemandaEditar/@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                        <a title="Añadir Seguimiento" class="btn accion btn-info " href="~/PrepDemanda/SeguimientoPrepDemanda/@item.Id"><i class="glyphicon glyphicon-plus-sign"></i></a>

                        <a title="Ver Seguimientos" class="btn btn-info " href="~/PrepDemanda/SeguimientosVer/@item.Id"><i class="glyphicon glyphicon-eye-open"></i></a>


                    </td>
                    <td style="display:none" class="condi">@item.Condicion</td>


                </tr>
            }
        </tbody>
    </table>

</div>


@section scripts{
	<script type="text/javascript">


        document.addEventListener("DOMContentLoaded", function (event) {
            var condicion = document.querySelectorAll(".condicion");

            condicion.forEach(function (c) {
                var id = c.id;
                var cond = c.cells[8].innerHTML;
                if (cond == "True") {
                    c.style.backgroundColor = "red";
                   // c.cells[7].style.display = "none";
                    c.cells[7].children[1].style.display = "none";
                    
                }
            });


     
        });
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}