@model List<TblPrepDemanda>
@using X.PagedList.Mvc.Core
@using X.PagedList;

@{
    ViewBag.Title = "PREP DEMANDA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();
}

@* <link href="~/css/prepstyles.css" rel="stylesheet" />
 *@



<div>

    <div class="panel-group">


        <div class="panel panel-info">
            <div class="panel-heading">Formulario de Selección Profilaxis Pre-Exposición <label>(PrEP Demanda)</label></div>
            <div class="panel-body">



                <div class="row">

                    <div class="col-md-2">

                        <br />
                            
                        <a asp-action="ElegibilidadPrepDemanda" asp-controller="PrepDemanda" class="btn btn-success"><i class="fa fa-plus"></i> Crear nuevo</a>


                    </div>
                    <br />

                     

                </div>



            </div>
        </div>


    </div>
</div>


<div style="display: none;" id="tablaContainer">
    <br>
    <table id="miTabla" class="table display" data-role="table" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Nacionalidad</th>
                <th>Fecha de registro</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdPaciente</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Sexo</td>
                    <td>@item.Nacionalidad</td>
                    <td>@item.FechaIngresoSai.ToString("dd-MM-yyyy").Substring(0, 10)</td>
                    <td>
                        <a class="btn btnElegibilidad " href="~/PrepDemanda/SeguimientoPrepDemanda/@item.IdPaciente">Seguimiento</a>
                        <a title="Modificar la ficha inicial" class="btn btn-info " href="~/PrepDemanda/DemandaEditar/@item.IdPaciente"><i class="glyphicon glyphicon-pencil"></i></a>

                    </td> 
                  

                </tr>
            }
        </tbody>
    </table>

</div>


