@model TblPrepDemandaSeguimiento

<div class="form-title">
    <h4>Seguimientos de la PreP</h4>
</div>

<div divinfo="">

    <h5>Información del Paciente</h5>
    <strong>ID PREP:</strong>
@*     <span>@ViewBag.IdDatos</span>
 *@    <span>2</span>
    <br>

    <strong>Paciente PREP:</strong>
@*     <span id="spPacienteNombre" name="spEsatus">@ViewBag.Nombre</span>
 *@    <span id="spPacienteNombre" name="spEsatus">probando perez</span>
    <br>

</div>



<form id="formularioSeguimiento" asp-action="SeguimientoPrep" asp-controller="Seguimientos" method="post">
    <input type="hidden" id="IdDatos" name="IdDatos" value="@ViewBag.IdDatos" />
    <input name="" id="sexo" type="hidden" value="@ViewBag.Sexo" />
    <input name="" id="genero" type="hidden" value="@ViewBag.Genero" />
    <input name="" id="FechaIngresoSai" type="hidden" value="@ViewBag.FechaIngresoSai" />


    <div id="divFormPrEP">
        <div id="divDatosGenerales" style="border: 2px solid #005476; padding: 10px;">

            <table class="table">
                <tbody>

                    <tr style="display:none">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>

                        <td colspan="1">
                            Fecha de registro de seguimiento:
                            <div class="form-group col-md-8">

                                <input id="FechaSeguimiento" onchange="diferenciaFecha()" data-val="true" data-val-required="Este campo obligatorio." onkeydown="return false" asp-for="FechaSeguimiento" name="FechaSeguimiento" class="form-control col-sm-3 date" type="date">
                                <span asp-validation-for="FechaSeguimiento" style="color:red;margin-left:20px"></span>

                            </div>

                        </td>


                    </tr>
                    <tr>
                        <td colspan="2">
                            Signos Vitales:
                            <br>
                            <div style="display:flex">

                                <label style="width:26px">TA:</label>
                                <input type="text" asp-for="SignosVitalesTa" style="margin-right:5px" data-val="true" data-val-required="Este campo obligatorio." oninput="this.value = this.value.replace(/[^0-9,/]/,'')" id="SignosVitalesTa" name="SignosVitalesTa" class="form-control2"> mmHg
                                <span asp-validation-for="SignosVitalesTa" style="color:red;margin-left:20px"></span>

                            </div>
                            <br>
                            <div style="display:flex">

                                <label style="width:26px">FC:</label>
                                <input type="text" style="margin-right:5px" id="SignosVitalesFc" asp-for="SignosVitalesFc" data-val="true" data-val-required="Este campo obligatorio." oninput="this.value = this.value.replace(/[^0-9,/]/,'')" name="SignosVitalesFc" class="form-control2"> l/min
                                <span asp-validation-for="SignosVitalesFc" style="color:red;margin-left:30px"></span>

                            </div>
                            <br>
                            <div style="display:flex">

                                <label style="width:26px">FR:</label>

                                <input type="text" style="margin-right:5px" id="SignosVitalesFr" data-val="true" data-val-required="Este campo obligatorio." oninput="this.value = this.value.replace(/[^0-9,/]/,'')" asp-for="SignosVitalesFr" name="SignosVitalesFr" class="form-control2"> r/min
                                <span asp-validation-for="SignosVitalesFr" style="color:red;margin-left:30px"></span>

                            </div>
                        </td>

                        <td colspan="2">
                            Medidas Antropometrícas:
                            <br>
                            <label style="width:50px">Peso:</label>
                            <input style="width:200px; margin-left:50px;" id="Peso" asp-for="Peso" name="Peso" type="number" data-val="true" data-val-required="Este campo obligatorio." min="90" max="350" class="form-control2" placeholder="Introduzca su Peso en Lbs.">
                            <span id="pesoValidationMsg" lang="es-do" style="color:red; margin-left:20px;"></span>

                            <br>
                            <label class="label-width">Talla Pies:</label>
                            <input style="width:200px; margin-left:32px;" id="TallaPies" asp-for="TallaPies" name="TallaPies" data-val="true" data-val-required="Este campo obligatorio." class="form-control2" type="number" min="1" placeholder="Introduzca su Talla en Pies.">
                            <span asp-validation-for="TallaPies" style="color:red; margin-left:20px;"></span>

                            <br>
                            <label class="label-width">Talla Pulgadas:</label>
                            <input style="width:200px; margin-left:-2px" id="TallaPulgadas" asp-for="TallaPulgadas" name="TallaPulgadas" data-val="true" data-val-required="Este campo obligatorio." class="form-control2" type="number" placeholder="Introduzca su Talla en Pulg." min="0" max="12">
                            <span id="tallaPulgadaValidation" lang="es-do" style="color:red; margin-left:20px;"></span>





                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label>¿Desea realizar la prueba de Creatinina?</label>
                                <input onchange="mostrarCreatinina();" type="checkbox" id="vihC" /><br />

                            </div>
                        </td>
                    </tr>
                    <tr id="creatinina" class="form-invisible">
                        <td colspan="2">
                            <div class="form-group col-md-8">
                                <label style="color:red">
                                    Tiene más de 6 meses en terapia hormonal (solo aplica para hombres):
                                    <input type="checkbox" id="chkHormonal" name="chkHormonal" class="habilitarCreatinina" disabled onchange="calcularCreatininaCheck()" value="true">

                                </label>
                                <br />
                                Resultado de Creatinina(Plasmatica):
                                <br>
                                <input id="CreatininaValor" data-val="true" data-val-required="Este campo obligatorio." disabled onchange="calcularCreatinina(value);" name="CreatininaValor" step=".1" type="number" min="0.1" max="60" style="width: 100%;" class=" habilitarCreatinina form-control col-sm-2">

                                <br>
                                <br>
                                Resultado:
                                <input id="ResultadoCreatinina" disabled readonly name="ResultadoCreatinina" class="form-control habilitarCreatinina" />

                            </div>

                            <div class="form-group col-md-8">
                                Fecha:
                                <input id="txtFechaResultadoCreatinina" onkeydown="return false" disabled name="txtFechaResultadoCreatinina" class="form-control col-sm-3 habilitarCreatinina " type="date">
                            </div>
                            <br>NOTA: Recuerde realizar la prueba de Creatinina cada 6 meses.
                        </td>
                        <td colspan="2">

                            Rango valores de Creatinina
                            <br>
                            <ul>
                                <li> 61-70 ml/min</li>
                                <li>71-80 ml/min</li>
                                <li>81-90 ml/min</li>
                                <li>91-100 ml/min</li>
                                <li>&gt;100 ml/min</li>
                            </ul>
                            <br>
                            <span style="font-size:1em;">
                                - Hombres:[140-(edad) x Peso(Kg)]/[72 x Creatinina plasmatica]<br>
                                - Mujeres:[140-(edad) x Peso(Kg) x 0.85]/[72 x Creatinina plasmatica]<br>
                                - Utilizar la fórmula de mujeres en mujeres biológicas y Trans que <br>
                                tengan más de 6 meses en terapia de reemplazo hormonal.

                            </span>
                        </td>
                    </tr>
                    <tr id="VIHp">

                        <td colspan="2">
                            Fecha de realización(Prueba VIH):
                            <br>
                            <div class="form-group col-md-4">
                                <input id="txtFechaRealizacionPrueba" data-val="true" data-val-required="Este campo obligatorio." onkeydown="return false" asp-for="FechaPruebaVih" name="FechaPruebaVih" class="form-control col-3 date" type="date">
                                <span asp-validation-for="FechaPruebaVih" style="color:red;margin-left:20px"></span>

                            </div>
                        </td>
                        <td colspan="2">
                            Repetición de la Prueba VIH:
                            <br>
                            Resultado:
                            <div class="radio radio-info">
                                <input id="rdVIH1" class="styled" style="margin-left:0px;" data-val="true" data-val-required="Este campo obligatorio." onclick="resultadoVIH(value);" type="radio" asp-for="ResultadoPruebaVih" name="ResultadoPruebaVih" value="Negativo">
                                <label for="rdVIH1">
                                    Negativo.
                                </label>

                            </div>

                            <div class="radio radio-info">
                                <input id="rdVIH2" class="styled" style="margin-left: 0px;" data-val="true" data-val-required="Este campo obligatorio." type="radio" onclick="resultadoVIH(value);" asp-for="ResultadoPruebaVih" name="ResultadoPruebaVih" value="Positivo">
                                <label for="rdVIH2">

                                    Positivo
                                </label>
                            </div>
                            <span asp-validation-for="ResultadoPruebaVih" style="color:red;margin-left:20px"></span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <label>
                                ¿Se consulto acerca de los signos y síntomas de infección aguda por VIH?
                            </label>
                            <div class="radio radio-info">
                                <input id="chkconsultaVIH1" style="margin-left:0px;" data-val="true" data-val-required="Este campo obligatorio." onclick="tieneSintomas(this.value);" asp-for="ConsultaSignosInfeccion" name="ConsultaSignosInfeccion" class="styled" type="radio" value="Si">
                                <label for="chkconsultaVIH1">
                                    Si
                                </label>
                            </div>
                            <div class="radio radio-info">
                                <input id="chkconsultaVIH2" style="margin-left:0px;" data-val="true" data-val-required="Este campo obligatorio." onclick="tieneSintomas(this.value);" asp-for="ConsultaSignosInfeccion" name="ConsultaSignosInfeccion" class="styled" type="radio" value="No">
                                <label for="chkconsultaVIH2">
                                    No
                                </label>
                            </div>
                            <span asp-validation-for="ConsultaSignosInfeccion" style="color:red;margin-left:20px"></span>

                        </td>
                        <td colspan="1" style="width:310px">
                            <input type="checkbox" id="check1" name="Linfadenopatias" class="chSignos" disabled="disabled" value="true"> Linfadenopatias cervicales e inguinales
                            <br>
                            <input type="checkbox" id="check2" name="FiebreDesconocida" class="chSignos" disabled="disabled" value="true"> Fiebre de origen desconocido
                            <br>
                            <input type="checkbox" id="check3" name="DiarreaProlongada" class="chSignos" disabled="disabled" value="true"> Diarrea prolongada de origen desconocido
                            <br>
                            <input type="checkbox" id="check4" name="ErupcionesPiel" class="chSignos" disabled="disabled" value="true"> Erupciones en la piel
                            <br>
                            <input type="checkbox" id="check5" name="InfeccionesRecurrentes" class="chSignos" disabled="disabled" value="true"> Infecciones Recurrentes
                            <br>
                            <input type="checkbox" id="check6" name="HepatoEsplenomegalia" class="chSignos" disabled="disabled" value="true"> Hepato/esplenomegalia
                            <br>
                        </td>
                        <td colspan="1">
                         
                        </td>
                        <td colspan="1">
                         
                              
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label>¿Desea realizar la prueba de Sifilis?</label>
                            <input onchange="mostrarSifilis();" type="checkbox" id="vihS" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label>¿Desea realizar la prueba de Sifilis y Hepatitis?</label>
                            <input onchange="mostrarHepatitis();" type="checkbox" id="vihH" />
                        </td>
                    </tr>


                    <tr id="sifilisBC">
                        <td id="sifilis" colspan="1">
                            <div class="form-group">
                                Sifilis(VDRL) Realizada:
                                <br>
                                <input disabled id="rdsifilis1" data-val="true" data-val-required="Este campo obligatorio." class="styled habilitarSifilisBC" type="radio" name="Sifilis" value="No Reactivo"> No Reactivo
                                <input disabled id="rdsifilis2" data-val="true" data-val-required="Este campo obligatorio." class="styled habilitarSifilisBC" type="radio" name="Sifilis" value="Reactivo"> Reactivo
                                <br>
                                <span asp-validation-for="Sifilis" style="color:red;margin-left:20px"></span>

                                <input disabled style="width:300px" data-val="true" data-val-required="Este campo obligatorio." id="txtfechasifilis1" onkeydown="return false" asp-for="SifilisFecha" name="SifilisFecha" class="habilitarSifilisBC form-control" type="date" placeholder="Fecha">
                                <span asp-validation-for="SifilisFecha" style="color:red;margin-left:20px"></span>

                            </div>
                        </td>
                        <td id="hepatitisB" colspan="2">
                            HBsAg Realizada:
                            <br>
                            <input id="rdHBsAg1" data-val="true" data-val-required="Este campo obligatorio." disabled class="styled habilitarSifilisBC" type="radio" name="HbsAg" value="Negativo"> Negativo
                            <input id="rdHBsAg2" data-val="true" data-val-required="Este campo obligatorio." disabled class="styled habilitarSifilisBC" type="radio" name="HbsAg" onclick="habilitarInputHBsAg(this.value)" value="Positivo"> Positivo
                            <br>
                            <span asp-validation-for="HbsAg" style="color:red;margin-left:20px"></span>

                            <input style="width:300px" data-val="true" data-val-required="Este campo obligatorio." disabled id="txtfechaHBsAg1" onkeydown="return false" asp-for="HbsAgFecha" name="HbsAgFecha" class="habilitarSifilisBC form-control" type="date" placeholder="Fecha">
                            <span asp-validation-for="HbsAgFecha" style="color:red;margin-left:20px"></span>


                        </td>

                        <td style="" id="hepatitisC" colspan="1">


                            Hepatitis C Realizada:
                            <br>
                            <input id="rdHepatitis1" data-val="true" data-val-required="Este campo obligatorio." disabled class="styled habilitarSifilisBC" type="radio" name="HepatitisC" value="Negativo"> Negativo
                            <input id="rdHepatitis2" data-val="true" data-val-required="Este campo obligatorio." disabled class="styled habilitarSifilisBC" type="radio" name="HepatitisC" onclick="habilitarInputHepatitis(this.value)" value="Positivo"> Positivo
                            <br>
                            <span asp-validation-for="HepatitisC" style="color:red;margin-left:20px"></span>

                            <input style="width:300px" data-val="true" data-val-required="Este campo obligatorio." onkeydown="return false" disabled id="txtfechaHepatitis" asp-for="HepatitisCFecha" name="HepatitisCFecha" class="habilitarSifilisBC form-control" type="date" placeholder="Fecha">
                            <span asp-validation-for="HepatitisC" style="color:red;margin-left:20px"></span>

                        </td>

                    </tr>
                  
                
                    <tr>
                        <td colspan="1">
                            Repetición de la PrEP prescrita:
                            <br>
                            ARV Prescritos
                            <br>
                            <input type="checkbox" onclick="ARV(this.id);" id="td1" name="PrepArvTdfFtc" value="true">
                            TDF/FTC
                            <br>
                            <input type="checkbox" onclick="ARV(this.id);" id="td2" name="PrepArvTdf3tc" value="true">
                            TDF/3TC
                            <br>
                            <input type="checkbox" onclick="ARV(this.id);" id="td3" name="PrepArvTafFtc" value="true">
                            TAF/FTC
                            <br />
                            <span style="color:red">@TempData["ARV"]</span>

                        </td>
                        <td colspan="2">
                            Meses de prescripción

                            <select id="Meses_prescripcion" data-val="true" data-val-required="Este campo obligatorio." style="width:300px;" asp-for="MesesPrescripcion" name="MesesPrescripcion" class="form-control">
                                <option value="">--Seleccione--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <span asp-validation-for="MesesPrescripcion" style="color:red;margin-left:20px"></span>


                        </td>
                        <td colspan="1">
                       
                        </td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />

    <div style="margin-block-end:40px">
        <button type="submit" name="Ejecutar" id="Ejecutar" class="btn btn-primary"><i class="glyphicon glyphicon-saved"></i>Registrar Seguimiento</button>
        <a href="javascript:history.back();" class="btn btn-danger" style="margin-left: 5px;">
            <i class="glyphicon glyphicon-remove"></i> Cancelar
        </a>
    </div>

    <div class="modal" id="menor" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red; margin-left: 90px;">
                        Advertencia
                    </h5>
                    <button type="button" onclick="cerrarModalMenor();" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="cuerpoModalMenor" style="text-align:center">El ciudadano tiene un aclaramiento de creatinina(TfGe) menor 60ml/min. El formulario se da por terminado y rechazada la solicitud.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="creatininaMenor60();" class="btn btn-secondary " data-dismiss="modal">Aceptar</button>
                    <button type="button" onclick="cerrarModalMenor();" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="vih" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red; margin-left: 90px;">
                        Advertencia
                    </h5>
                    <button type="button" onclick="cerrarModalVIH();" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="cuerpoModalvih" style="text-align:center">La persona registrada no es legible para PREP porque tiene un resultado VIH+.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="VIHPositivo();" class="btn btn-secondary " data-dismiss="modal">Aceptar</button>
                    <button type="button" onclick="cerrarModalVIH();" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red; margin-left: 90px;">
                        Advertencia
                    </h5>
                    <button type="button" onclick="cerrarModal();" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="cuerpoModal" style="text-align:center"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="cerrarModal();" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>



</form>


<style>
    input[type=radio] {
        margin-left: 0px
    }

    .styled {
        /* Agrega aquí tu estilo personalizado */
        margin-left: 0px; /* Por ejemplo, margen derecho para separarlos */
    }

    #styled {
        /* Agrega aquí tu estilo personalizado */
        margin-left: 0px; /* Por ejemplo, margen derecho para separarlos */
    }
</style>

@* @section scripts{
    <script type="text/javascript">

        window.onload = function () {
            var sexo = document.getElementById("sexo").value;
            var fechaIngreso = new Date(document.getElementById("FechaIngresoSai").value);
            var minDateIngreso = new Date(fechaIngreso.setDate(fechaIngreso.getDate() - 0)).toISOString().split("T")[0];

            if (sexo == "F") {
                $(".lactante").removeAttr("disabled");
                document.getElementById("embarazada").style.display = "";
                document.getElementById("lactante").style.display = "";
            }

            document.getElementById("txtFechaSeguimiento").setAttribute('min', minDateIngreso);

        }

        var habilitarInputHBsAg = (e) => {
            var valor = e;
            if (valor == "Positivo") {

                $("#cuerpoModal").empty();
                document.getElementById("cuerpoModal").innerHTML = "Referir a servicio médico especializado";
                $('#myModal').modal('show');

            }

        }

        var habilitarInputHepatitis = (e) => {
            var valor = e;
            if (valor == "Positivo") {

                $("#cuerpoModal").empty();
                document.getElementById("cuerpoModal").innerHTML = "Referir a servicio médico especializado";
                $('#myModal').modal('show');

            }

        }

        var mostrarCreatinina = () => {

            var vihC = document.getElementById("vihC").checked;

            if (vihC == true) {
                $(".habilitarCreatinina").removeAttr("disabled");
                //document.getElementById("creatinina").style.display = "";

            }
            else {
                // document.getElementById("creatinina").style.display = "none";
                $(".habilitarCreatinina").attr("disabled", true);

            }

            var genero = document.getElementById("genero").value;
            if (genero == "1") {
                $("#chkHormonal").attr("disabled", true);

            }
        }

        var mostrarSifilis = () => {

            var vihS = document.getElementById("vihS").checked;

            if (vihS == true) {
                document.getElementById("vihH").checked = false;
                mostrarHepatitis();

                // document.getElementById("sifilisBC").style.display = "";
                // document.getElementById("hepatitisB").style.display = "none";
                // document.getElementById("hepatitisC").style.display = "none";

                $("#rdsifilis1").removeAttr("disabled");
                $("#rdsifilis2").removeAttr("disabled");
                $("#txtfechasifilis1").removeAttr("disabled");

            }
            else {
                // document.getElementById("sifilisBC").style.display = "none";
                // document.getElementById("hepatitisB").style.display = "";
                // document.getElementById("hepatitisC").style.display = "";

                $("#rdsifilis1").attr("disabled", true);
                $("#rdsifilis2").attr("disabled", true);
                $("#txtfechasifilis1").attr("disabled", true);

            }
        }

        var mostrarHepatitis = () => {

            var vihH = document.getElementById("vihH").checked;

            if (vihH == true) {
                document.getElementById("vihS").checked = false;
                mostrarSifilis();
                // document.getElementById("sifilisBC").style.display = "";
                $(".habilitarSifilisBC").removeAttr("disabled");

            } else {
                // document.getElementById("sifilisBC").style.display = "none";
                $(".habilitarSifilisBC").attr("disabled", true);

            }
        }

        const cerrarModalMenor = () => {

            document.getElementById("CreatininaValor").value = "";
            document.getElementById("ResultadoCreatinina").value = "";
            $('#menor').modal('hide');


        }
        const cerrarModalVIH = () => {

            $('#vih').modal('hide');
        }

        const cerrarModal = () => {

            $('#myModal').modal('hide');
        }


        const creatininaMenor60 = () => {

            var IdDatos = document.getElementById("IdDatos").value;
            var FechaRegistroSeguimiento = document.getElementById("txtFechaSeguimiento").value;
            var SignosVitalesTa = document.getElementById("SignosVitalesTa").value;
            var SignosVitalesFc = document.getElementById("SignosVitalesFc").value;
            var SignosVitalesFr = document.getElementById("SignosVitalesFr").value;
            var Peso = document.getElementById("Peso").value;
            var TallaPies = document.getElementById("TallaPies").value;
            var TallaPulgadas = document.getElementById("TallaPulgadas").value;

            $.post("@Url.Action("CreatininaMenor60","Seguimientos")", {
                IdDatos: IdDatos, FechaRegistroSeguimiento: FechaRegistroSeguimiento, SignosVitalesTa: SignosVitalesTa,
                SignosVitalesFc: SignosVitalesFc, SignosVitalesFr: SignosVitalesFr, Peso: Peso, TallaPies: TallaPies,
                TallaPulgadas: TallaPulgadas
            }, function (modelos) {
                setTimeout(paginaPrincipal, 1000);

                // paginaPrincipal();
            })
        }

        const menorCreatina = () => {
            var creatina = document.getElementById("ResultadoCreatinina").value;

            if (creatina < 60) {
                $('#menor').modal('show');


            }
        }

        const calcularCreatinina = () => {
            var KG = 2.205;
            var Edad = @ViewBag.Edad;
            var Peso = @ViewBag.Peso;
            var sexo = document.getElementById("sexo").value;
            var genero = document.getElementById("genero").value;
            var chkHormonal = document.getElementById("chkHormonal").checked;
            var PesoKG = Peso / KG;

            var valorCreatinina = document.getElementById("CreatininaValor").value;

            if (genero == "3" && chkHormonal == true) {
                var Resultado = ((140 - Edad) * PesoKG * 0.85) / (72 * valorCreatinina);
                document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);
                setTimeout(menorCreatina, 1000);

            }
            if (genero == "1") {

                var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
                document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

            }


            if (genero == "2") {
                var Resultado = ((140 - Edad) * PesoKG * 0.85) / (72 * valorCreatinina);
                document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

            }
            if (genero == "3" && chkHormonal == false) {

                var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
                document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);
            }

            if (sexo == "M" && genero == "4") {

                var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
                document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

            }

            if (sexo == "F" && genero == "4") {

                var Resultado = ((140 - Edad) * PesoKG) / (72 * valorCreatinina);
                document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3);

            }
            // Hombres:[140-(edad) x Peso(Kg)]/[72 x Creatinina plasmatica]
            // Mujeres:[140-(edad) x Peso(Kg) x 0.85]/[72 x Creatinina plasmatica]
            setTimeout(menorCreatina, 1000);
        }

        const calcularCreatininaCheck = () => {
            var chkHormonal = document.getElementById("chkHormonal").checked;
            var valorCreatinina = document.getElementById("CreatininaValor").value;
            if (chkHormonal == false && valorCreatinina == "") {
                return;
            }
            if (chkHormonal == false && valorCreatinina != "") {
                calcularCreatinina();
            }
            if (chkHormonal == true && valorCreatinina == "") {
                return;
            }
            if (chkHormonal == true && valorCreatinina != "") {
                calcularCreatinina();
            }




        }

        const VIHPositivo = () => {
            var IdDatos = document.getElementById("IdDatos").value;
            var FechaRegistroSeguimiento = document.getElementById("txtFechaSeguimiento").value;
            var SignosVitalesTa = document.getElementById("SignosVitalesTa").value;
            var SignosVitalesFc = document.getElementById("SignosVitalesFc").value;
            var SignosVitalesFr = document.getElementById("SignosVitalesFr").value;
            var Peso = document.getElementById("Peso").value;
            var TallaPies = document.getElementById("TallaPies").value;
            var TallaPulgadas = document.getElementById("TallaPulgadas").value;
            var FechaPruebaVih = document.getElementById("txtFechaRealizacionPrueba").value;
            var ResultadoPruebaVih = document.getElementById("rdVIH2").value;

            $.post("@Url.Action("VIHPositivo","Seguimientos")", {
                IdDatos: IdDatos, FechaRegistroSeguimiento: FechaRegistroSeguimiento, SignosVitalesTa: SignosVitalesTa,
                SignosVitalesFc: SignosVitalesFc, SignosVitalesFr: SignosVitalesFr, Peso: Peso, TallaPies: TallaPies,
                TallaPulgadas: TallaPulgadas, FechaPruebaVih: FechaPruebaVih, ResultadoPruebaVih: ResultadoPruebaVih
            }, function (modelos) {
                console.log(modelos);
                setTimeout(paginaPrincipal, 1000);
                // paginaPrincipal();
            });
        }

        var resultadoVIH = (e) => {
            var valor = e;

            if (valor == "Negativo") {
                $("#chkNoSignos1").removeAttr("disabled");
                $("#chkNoSignos2").removeAttr("disabled");

            }

            if (valor == "Positivo") {
                //$("#cuerpoModal").empty();
                // document.getElementById("cuerpoModal").innerHTML = "El ciudadano debe ser referido al programa nacional VIH. El formulario se da por terminado y rechaza la solicitud";
                $('#vih').modal('show');
                //VIHPositivo();
                //
                document.getElementById("rdVIH2").checked = false;
            }

        }


        const paginaPrincipal = () => {
            var local = window.location.host;
            console.log(local);
            var origin = "/DatosGenerales/DatosGeneralesPorElegibilidad";
            window.location.href = "https://" + local + origin;
        }


        var tieneSintomas = (e) => {
            var valor = e;

            if (valor == "Si") {
                $(".chSignos").removeAttr("disabled");

            }

            if (valor == "No") {
                $(".chSignos").attr("disabled", true);

            }
        }

        var habilitarInputsindrómico = (e) => {
            var valor = e;
            if (valor == "Si") {

                $(".sindromico").removeAttr("disabled");

            }
            if (valor == "No") {
                $(".sindromico").attr("disabled", true);

            }

        }

        var ARV = (e) => {
            var td1 = document.getElementById("td1").checked;
            var td2 = document.getElementById("td2").checked;
            var td3 = document.getElementById("td3").checked;

            if (e == "td1") {
                document.getElementById("td2").checked = false;
                document.getElementById("td3").checked = false;

            }
            if (e == "td2") {
                document.getElementById("td1").checked = false;
                document.getElementById("td3").checked = false;

            }
            if (e == "td3") {
                document.getElementById("td1").checked = false;
                document.getElementById("td2").checked = false;

            }
        }


        var diferenciaFecha = () => {
            var fechaPrueba = new Date(document.getElementById("txtFechaSeguimiento").value);
            var fechaPrueba1 = new Date(document.getElementById("txtFechaSeguimiento").value);

            var minDate = new Date(fechaPrueba.setDate(fechaPrueba.getDate() - 6)).toISOString().split("T")[0];
            var max = new Date(fechaPrueba1.setDate(fechaPrueba1.getDate() - 0)).toISOString().split("T")[0];

            var minDateSeguimiento = new Date(fechaPrueba1.setDate(fechaPrueba1.getDate() - 0)).toISOString().split("T")[0];

            document.getElementById("FechaProximoSeguimiento").setAttribute('min', minDateSeguimiento);

            document.getElementById("txtFechaRealizacionPrueba").setAttribute('min', minDate);
            document.getElementById("txtFechaRealizacionPrueba").setAttribute('max', max);

            document.getElementById("txtfechasifilis1").setAttribute('min', minDate);
            document.getElementById("txtfechasifilis1").setAttribute('max', max);

            document.getElementById("txtfechaHBsAg1").setAttribute('min', minDate);
            document.getElementById("txtfechaHBsAg1").setAttribute('max', max);

            document.getElementById("txtfechaHepatitis").setAttribute('min', minDate);
            document.getElementById("txtfechaHepatitis").setAttribute('max', max);

        }

        document.addEventListener("DOMContentLoaded", function () {
            // Agregar un controlador de eventos al formulario
            var formulario = document.getElementById("formularioSeguimiento");
            if (formulario) {
                formulario.addEventListener("submit", function (event) {
                    // Obtener el valor del campo de talla
                    var tallaInput = document.getElementById("TallaPulgadas");
                    if (tallaInput) {
                        var talla = parseFloat(tallaInput.value); // Convertir a número
                        var tallaMin = parseFloat(tallaInput.min);
                        var tallaMax = parseFloat(tallaInput.max);

                        // Verificar si el campo de talla está vacío o no es un número
                        if (isNaN(talla) || tallaInput.value.trim() === "") {
                            // Mostrar mensaje de error para campo obligatorio
                            document.getElementById("tallaPulgadaValidation").innerText = "Este campo es obligatorio.";
                            // Evitar el envío del formulario
                            event.preventDefault();
                        } else if (talla < tallaMin || talla > tallaMax) {
                            // Mostrar mensaje de error para valor fuera del rango
                            document.getElementById("tallaPulgadaValidation").innerText = "Este número debe estar entre " + tallaMin + " y " + tallaMax + ".";
                            // Evitar el envío del formulario
                            event.preventDefault();
                        } else {
                            // Limpiar mensaje de error si el valor es válido
                            document.getElementById("tallaPulgadaValidation").innerText = "";
                        }
                    }
                });
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Agregar un controlador de eventos al formulario
            document.getElementById("formularioSeguimiento").addEventListener("submit", function (event) {
                // Obtener el valor del campo de peso
                var pesoInput = document.getElementById("Peso");
                var peso = parseFloat(pesoInput.value.trim()); // Eliminar espacios en blanco y convertir a número
                var pesoMin = parseFloat(pesoInput.min);
                var pesoMax = parseFloat(pesoInput.max);

                // Verificar si el campo de peso está vacío
                if (isNaN(peso) || pesoInput.value.trim() === "") {
                    // Mostrar mensaje de error para campo obligatorio
                    document.getElementById("pesoValidationMsg").innerText = "Este campo es obligatorio.";
                    // Evitar el envío del formulario
                    event.preventDefault();
                } else if (peso < pesoMin || peso > pesoMax) {
                    // Mostrar mensaje de error para valor fuera del rango
                    document.getElementById("pesoValidationMsg").innerText = "El peso debe estar entre " + pesoMin + " y " + pesoMax + " libras.";
                    // Evitar el envío del formulario
                    event.preventDefault();
                } else {
                    // Limpiar mensaje de error si el valor es válido
                    document.getElementById("pesoValidationMsg").innerText = "";
                }
            });
        });


    </script>
}
 *@
