@model IPagedList<ProyectoPREP.Models.DatosGenerale>
@using X.PagedList.Mvc.Core
@using X.PagedList;

@{
    ViewBag.Title = "ConsultaDatsosGenerales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();
}

<a>CONSULTA DATOS GENERALES</a>
<a style="margin-left:300px" asp-action="CreateCedula" asp-controller="DatosGenerales" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Crear nuevo</a>


<div class="table table-responsive" style="height: 700px; overflow: auto">

    <table class="table tabletable-striped table-hover table-bordered" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Sexo</td>
                    <td>@item.Documento</td>
                    <td>@item.FechaIngresoSai.ToString().Substring(0, 10)</td>
                    <td>
                        <a class="btn btn-dark" href="~/DatosGenerales/EditarDatosGenerales/@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
<div class="d-flex justify-content-center">
    <ul class="pagination" style="margin: 0 auto;">
        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = 1 })">Primera</a>
        </li>
        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = Model.PageNumber - 1 })">Anterior</a>
        </li>
        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = Model.PageNumber + 1 })">Siguiente</a>
        </li>
        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = Model.PageCount })">Última</a>
        </li>
    </ul>
</div>

