@model List<DatosGenerales>
@using X.PagedList.Mvc.Core
@using X.PagedList;

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();
}

@* <link href="~/css/prepstyles.css" rel="stylesheet" />
 *@



<div>

    <div class="panel-group">


        <div class="panel panel-success">
            <div class="panel-heading">Formulario de Selección Profilaxis Pre-Exposición</div>
            <div class="panel-body">

                <form action="/DatosGenerales/CreateCedula" method="post">

                    <div class="row">

                        <div class="col-md-2">

                            <br />
                            <a asp-action="CreateCedula" asp-controller="DatosGenerales" class="btn btn-success"><i class="fa fa-plus"></i> Crear nuevo</a>

                        </div>
                        <br />

                        <div class="col-2">

                            Ordenar por:
                            <select id="EstatusSolicitud" name="EstatusSolicitud" onChange=nav(this.value) class="form-control">
                                <option value="/DatosGenerales/DatosGeneralesPorTratamiento">Pendiente a Tratamiento PreP</option>
                                <option value="/DatosGenerales/DatosGeneralesPorElegibilidad">Elegibilidad</option>
                                <option value="/DatosGenerales/DatosGeneralesPorPCR">Confirmación PCR</option>
                                <option value="/DatosGenerales/DatosGeneralesPorAprobado">Prep Aprobado</option>
                                <option value="/DatosGenerales/DatosGeneralesPorRechazado">Prep Rechazado</option>
                                <option value="/DatosGenerales/DatosGeneralesPorSuspendido">Prep Suspendida</option>

                            </select>
                        </div>

                     

                    </div>

                </form>

            </div>
        </div>


    </div>
</div>

<style>
    .thCenter {
        text-align: center;
    }

    #idCenter {
        text-align: center;
    }
</style>


<div style="display: none;" id="tablaContainer">
    <br>

    <table id="miTabla" class="table display" data-role="table" width="100%">
        <thead>
            <tr>
                <th id="idCenter">ID</th>
                <th id="idCenter">Nombres</th>
                <th id="idCenter">Apellidos</th>
                <th id="idCenter">Sexo</th>
                <th id="idCenter">Documento</th>
                <th id="idCenter">Nacionalidad</th>
                <th id="idCenter">Fecha de registro</th>
                <th id="idCenter">Estado</th>
                <th id="idCenter">Acciones</th>
                <th style="display:none">condicion</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)    
            {
                <tr class="condicion" id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Sexo</td>
                    <td>@item.Documento</td>
                    <td>@item.NOMBRE_CORTO_ES</td>
                    <td>@item.Fecha_Ingreso_SAI.ToString("dd-MM-yyyy").Substring(0, 10)</td>
                    <td>
                        <a title="Llenar formulario del tratamiento del paciente" class="btn btn-info" href="~/Tratamiento/InicioTratamiento/@item.Id"><i class="glyphicon glyphicon-link"></i> Pendiente a Tratamiento Prep</a>
                    </td>
                    <td>
                        <a title="Editar" class="btn btn-info " href="~/DatosGenerales/EditarDatosGenerales/@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                      @*   <a class="btn btnElegibilidad " href="~/Elegibilidad/Create/@item.Id">Elegibilidad</a> *@

                        <a title="Transferir paciente" class="btn btnElegibilidad" href="~/GestionPacientes/Transferir/@item.Id"><i class="glyphicon glyphicon-transfer"></i></a>

                    </td>
                    <td style="display:none" class="condi">@item.Condicion</td>


                </tr>
            }
        </tbody>
    </table>

</div>





@section scripts{
    <script type="text/javascript">


        document.addEventListener("DOMContentLoaded", function (event) {
            var condicion = document.querySelectorAll(".condicion");

            condicion.forEach(function (c) {
                var id = c.id;
                var cond = c.cells[9].innerHTML;
                if (cond == "True") {
                    c.style.backgroundColor = "red";

                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}