@model List<DatosGenerales>
@using X.PagedList.Mvc.Core
@using X.PagedList;

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();
}

@* <link href="~/css/prepstyles.css" rel="stylesheet" />
 *@



<div>

    <div class="panel-group">


        <div class="panel panel-success">
            <div class="panel-heading">Formulario de Selección Profilaxis Pre-Exposición</div>
            <div class="panel-body">

                <form action="/DatosGenerales/CreateCedula" method="post">

                    <div class="row">

                        <div class="col-md-2">

                            <br />
                            <a asp-action="CreateCedula" asp-controller="DatosGenerales" class="btn btn-success"><i class="fa fa-plus"></i> Crear nuevo</a>


                        </div>
                        <br />

                        <div class="col-2">

                            Ordenar por:
                            <select id="EstatusSolicitud" name="EstatusSolicitud" onChange=nav(this.value) class="form-control">
                                <option value="/DatosGenerales/DatosGeneralesPorSuspendido">Prep Suspendida</option>
                                <option value="/DatosGenerales/DatosGeneralesPorElegibilidad">Elegibilidad</option>
                                <option value="/DatosGenerales/DatosGeneralesPorPCR">Confirmación PCR</option>
                                <option value="/DatosGenerales/DatosGeneralesPorTratamiento">Pendiente a Tratamiento PreP</option>
                                <option value="/DatosGenerales/DatosGeneralesPorAprobado">Prep Aprobado</option>
                                <option value="/DatosGenerales/DatosGeneralesPorRechazado">Prep Rechazado</option>

                            </select>
                        </div>

                       
                    </div>

                </form>

            </div>
        </div>


    </div>
</div>


<div style="display: none;" id="tablaContainer">
    <br>
    <table id="miTabla" class="table display" data-role="table" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Nacionalidad</th>
                <th>Fecha de registro</th>
                <th>Acciones</th>
                <th style="display:none">condicion</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="condicion" id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Sexo</td>
                    <td>@item.Documento</td>
                    <td>@item.NOMBRE_CORTO_ES</td>
                    <td>@item.Fecha_Ingreso_SAI.ToString("dd-MM-yyyy").Substring(0, 10)</td>
                    <td>
                        <a title="Reintegrar paciente" id="btnReintegrar" class="btn btn-default btnReintegrar" href="~/RechazadoSuspendido/Reintegrar/@item.Id"><i class="glyphicon glyphicon-new-window"></i></a>
                        <a title="Transferir paciente" class="btn btnElegibilidad" href="~/GestionPacientes/Transferir/@item.Id"><i class="glyphicon glyphicon-transfer"></i></a>
                        <a title="Ver elegibilidad" class="btn btn-info " href="~/Elegibilidad/ElegibilidadVer/@item.Id"><i class="glyphicon glyphicon-eye-open"></i></a>

                    </td>
                    <td style="display:none" class="condi">@item.Condicion</td>

                </tr>
            }
        </tbody>
    </table>

</div>

<input type="hidden" id="rol" value="@ViewBag.rol" />



@section scripts{
    <script type="text/javascript">


        document.addEventListener("DOMContentLoaded", function (event) {
            var condicion = document.querySelectorAll(".condicion");

            condicion.forEach(function (c) {
                var id = c.id;
                var cond = c.cells[8].innerHTML;
                if (cond == "True") {
                    c.style.backgroundColor = "red";

                }
            });
        });


        // window.onload = function () {

        //     var rol = document.getElementById("rol").value;

        //     if (rol != "Administrador") {
        //         //document.getElementById("btnReintegrar").style.display = "none";
        //         var element = document.getElementsByClassName("btnReintegrar");

        //         for (var i = 0; i < element.length; i++) {
        //             element[i].style.display = "none";

        //         }
        //     }
        // }

        window.onload = function () {
            // Verifica si la URL contiene la ruta específica
            if (window.location.pathname === "/DatosGenerales/DatosGeneralesPorRechazado") {
                var rol = document.getElementById("rol").value;

                if (rol !== "Administrador") {
                    var elements = document.getElementsByClassName("btnReintegrar");

                    for (var i = 0; i < elements.length; i++) {
                        elements[i].style.display = "none";
                    }
                }
            }
        };

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}