@model List<DatosGenerales>
@using X.PagedList.Mvc.Core
@using X.PagedList;

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();
}

@* <link href="~/css/prepstyles.css" rel="stylesheet" />
 *@



<div>

    <div class="panel-group">


        <div class="panel panel-success">
            <div class="panel-heading">Formulario de Selección Profilaxis Pre-Exposición</div>
            <div class="panel-body">

                <form action="/DatosGenerales/CreateCedula" method="post">

                    <div class="row">

                        <div class="col-md-2">

                            <br />
                            <a asp-action="CreateCedula" asp-controller="DatosGenerales" class="btn btn-success"><i class="fa fa-plus"></i> Crear nuevo</a>


                        </div>
                        <br />

                        <div class="col-2">

                            Ordenar por:
                            <select id="EstatusSolicitud" name="EstatusSolicitud" onChange=nav(this.value) class="form-control">
                                <option value="/DatosGenerales/DatosGeneralesPorRechazado">Prep Rechazado</option>
                                <option value="/DatosGenerales/DatosGeneralesPorElegibilidad">Elegibilidad</option>
                                <option value="/DatosGenerales/DatosGeneralesPorPCR">Confirmación PCR</option>
                                <option value="/DatosGenerales/DatosGeneralesPorTratamiento">Pendiente a Tratamiento PreP</option>
                                <option value="/DatosGenerales/DatosGeneralesPorAprobado">Prep Aprobado</option>
                                <option value="/DatosGenerales/DatosGeneralesPorSuspendido">Prep Suspendida</option>

                            </select>
                        </div>

                        <div class="col-4">

                            Establecimiento:
                            <select id="FiltroEstablecimiento" name="FiltroEstablecimiento" onChange=nav(this.value) class="form-control">
                                <option value="/#">--SELECCIONE--</option>


                            </select>
                        </div>

                    </div>

                </form>

            </div>
        </div>


    </div>
</div>


<div style="display: none;" id="tablaContainer">
    <br>
    <table id="miTabla" class="table display" data-role="table" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Nacionalidad</th>
                <th>Fecha</th>
                @* <th >Estatus</th> *@
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Sexo</td>
                    <td>@item.Documento</td>
                    <td>@item.NOMBRE_CORTO_ES</td>
                    <td>@item.Fecha_Ingreso_SAI.ToString().Substring(0, 10)</td>
                    @* <td>@item.Estatus.ToString()</td> *@
                    <td>
                        <a title="Reintegrar paciente" class="btn btn-default" href="~/RechazadoSuspendido/Reintegrar/@item.Id"><i class="glyphicon glyphicon-new-window"></i></a>

                        <a title="Transferir paciente" class="btn btnElegibilidad" href="~/GestionPacientes/Transferir/@item.Id"><i class="glyphicon glyphicon-transfer"></i></a>

                       
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
@* <div class="d-flex justify-content-center">
    <ul class="pagination" style="margin: 0 auto;">
        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = 1 })">Primera</a>
        </li>
        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = Model.PageNumber - 1 })">Anterior</a>
        </li>
        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = Model.PageNumber + 1 })">Siguiente</a>
        </li>
        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ConsultaDatosGenerales", new { page = Model.PageCount })">Última</a>
        </li>
    </ul>
</div> *@


@* @section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('#miTabla').DataTable({



                columnDefs: [{
                    targets: -1,
                    className: 'right'
                }],
                "paging": true,
                "pageLength": 10,
                "searching": true,

                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },

                drawCallback: function () {

                    $('#miTabla').find('li').css('background-color', '');


                    $('#miTabla').find('li.active').css('background-color', '#5bc0de');
                },
            });


            $('#tablaContainer').css('display', 'block');

        });


        function nav(value) {
            if (value != "") { location.href = value }
        }


    </script>

} *@