@model ProyectoPREP.Models.VwPrepGestionUsuario

<h2>Asignar Roles a Usuario</h2>

<form asp-controller="Roles" asp-action="AsignarRol" method="post">
    @Html.HiddenFor(x=>x.IdUsuario)


    <h4>Formulario de Asignación de Roles a Usuario</h4>

    <label>ID: @Model.IdUsuario </label><br />
    <label>Nombre: @Model.NombreApellidos</label><br />
    <label>Usuario: @Model.Usuario</label><br />
    <label>Centro: @Model.NombreCentro</label><br /><br />
 

    <div class="editor-label">
        <strong>Rol:</strong>
    </div>
    <div class="editor-field">
        <select class="form-control" id="Rol" name="IdRol" required="required">
            <option value="">Seleccione un Rol</option>
            <option value="1">Administrador</option>
            <option value="5">Psicólogo Medicos</option>
        </select>
    </div>

    <br>
    <button type="submit">Asignar Rol</button>
</form>


<style>
    .usuario{
       
        width: auto;
        height: 30px;
        margin-left: 5px;
        border: 1px solid rgb(0, 84, 118);
        padding: 5px;
        background-color: lightblue;
        cursor: pointer;
        display:none;
    }
</style>

 
