@model ProyectoPREP.Models.ElegibilidadPrep
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <h3>Requisitos Elegibilidad PrEP</h3>
</div>

<div divinfo="">
    <div class="tituloDiv">
        Información del Donante
    </div>

    <strong>ID PREP:</strong>
    <span > @ViewBag.IdDatos</span>
    <br>
    <strong>Paciente PREP:</strong>
    <span id="spPacienteNombre" name="spEsatus"> @ViewBag.Nombre </span>
    <br>
</div>

<form asp-controller="Elegibilidad" asp-action="Create" method="post">
    <input name="IdDatos" value="@ViewBag.IdDatos" type="hidden" />
    <input asp-for="FormularioPrepId" name="FormularioPrepId" type="hidden" />
    <input asp-for="Usuario" name="Usuario" type="hidden" />
    <input asp-for="Estatus" name="Estatus" type="hidden" />
    <input name="IdElegibilidad" id="IdElegibilidad" value="@ViewBag.IdElegibilidad" type="hidden" />


    <div id="divFormPrEP" class="form-invisible">
        <div id="divElegibilidadPre2">

            <div class="tituloDiv">Se consideran elegibles todos(as) que satisfacen TODOS Y CADA UNO de los siguientes requisitos (En los últimos 6 meses):</div>


            <!-- <div class="subTituloDiv"> </div> -->
            <table class="table" id="tblElegibilidad">
                <tbody>
                    <tr>
                        <td>
                            ¿Prueba de VIH realizada?
                            <div class="radio radio-info">
                                <input id="chkSeronegativo1" asp-for="SeronegativoVih" name="SeronegativoVih" onclick="habilitarInputVIH(value);" class="styled" type="radio" value="Si">
                                <label for="chkSeronegativo1">
                                    Si
                                </label>
                            </div>
                            <div class="radio radio-info">
                                <input id="chkSeronegativo2" required asp-for="SeronegativoVih" name="SeronegativoVih" onclick="habilitarInputVIH(value);" class="styled" type="radio" value="No">
                                <label for="chkSeronegativo2">
                                    No
                                </label>
                            </div>
                        </td>

                        <td>
                            Fecha de realización(Prueba VIH):
                            <br>

                            <div class="form-group col-md-8">

                                <input id="txtFechaRealizacionPrueba" onchange="diferenciaFecha();" asp-for="FechaPruebaVih" name="FechaPruebaVih" class="form-control pruebaVIH" type="date" required disabled>
                            </div>
                        </td>

                        <td>
                            Fecha de resultados(Prueba VIH):
                            <br>
                            <div class="form-group col-md-8">

                                <input id="txtFechaEntregaResultados"  asp-for="FechaEntregaVih" name="FechaEntregaVih" class="form-control pruebaVIH" type="date" required disabled />
                            </div>
                        </td>

                        <td>
                            <strong>Resultado de la Prueba del VIH:</strong>
                            <br>
                            <div class="radio radio-info">
                                <input id="rdVIH1" required class="styled pruebaVIH" asp-for="ResultadoPruebaVih" type="radio" onclick="resultadoVIH(value);" name="ResultadoPruebaVih" value="Negativo" disabled>
                                <label for="rdVIH1">
                                    Negativo.
                                </label>
                            </div>

                            <div class="radio radio-info">
                                <input id="rdVIH2" class="styled pruebaVIH" asp-for="ResultadoPruebaVih" type="radio" onclick="resultadoVIH(value);" name="ResultadoPruebaVih" value="Positivo" disabled>
                                <label for="rdVIH2">

                                    Positivo
                                </label>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            En riesgo significativo de infección por VIH
                            <div class="radio radio-info">
                                <input id="chkRiesgoVIH1" required asp-for="RiesgoInfeccionVih" disabled name="RiesgoInfeccionVih" class="styled pruebaVIH" type="radio" value="Si">
                                <label for="chkRiesgoVIH1">
                                    Si
                                </label>
                            </div>
                            <div class="radio radio-info">
                                <input id="chkRiesgoVIH2" asp-for="RiesgoInfeccionVih" disabled name="RiesgoInfeccionVih" class="styled pruebaVIH" type="radio" value="No">
                                <label for="chkRiesgoVIH2">
                                    No
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="2">

                            ¿Tiene Signos y síntomas?
                            <div class="radio radio-info">
                                <input id="chkNoSignos1" required asp-for="SignosSintomas" name="SignosSintomas" onclick="tieneSintomas(value);" class="styled" type="radio" value="Si" disabled>
                                <label for="chkNoSignos1">
                                    Si
                                </label>
                            </div>
                            <div class="radio radio-info">
                                <input id="chkNoSignos2" asp-for="SignosSintomas" name="SignosSintomas" onclick="tieneSintomas(value);" class="styled" type="radio" value="No" disabled/>
                                <label for="chkNoSignos2">
                                    No
                                </label>
                            </div>
                        </td>
                        <td colspan="2">
                            <input type="checkbox" id="check1" value="true" name="Linfadenopatias" disabled class="chSignos" /> Linfadenopatias cervicales e inguinales
                            <br>
                            <input type="checkbox" id="check2" value="true" name="FiebreDesconocida" disabled class="chSignos" /> Fiebre de origen desconocido
                            <br>
                            <input type="checkbox" id="check3" value="true" name="DiarreaProlongada" disabled class="chSignos" /> Diarrea prolongada de origen desconocido
                            <br>
                            <input type="checkbox" id="check4" value="true" name="ErupcionesPiel" disabled class="chSignos" /> Erupciones en la piel
                            <br>
                            <input type="checkbox" id="check5" value="true" name="InfeccionesRecurrentes" disabled class="chSignos" /> Infecciones Recurrentes
                            <br>
                            <input type="checkbox" id="check6" value="true" name="HepatoEsplenomegalia" disabled class="chSignos" /> Hepato/esplenomegalia
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Se requiere CONFIRMAR CON PCR
                            <div class="radio radio-info">
                                <input id="chkRequierePCR1" required name="CargaViralPcr" asp-for="CargaViralPcr" onclick="habilitarInputPCR(value);" class="styled pruebaVIH" disabled type="radio" value="Si">
                                <label for="chkRequierePCR1">
                                    Si
                                </label>
                            </div>
                            <div class="radio radio-info">
                                <input id="chkRequierePCR2" name="CargaViralPcr" asp-for="CargaViralPcr" onclick="habilitarInputPCR(value);" class="styled pruebaVIH" disabled type="radio" value="No">
                                <label for="chkRequierePCR2">
                                    No
                                </label>
                            </div>
                        </td>
                        <td id="tdPCR3">

                            <div class="form-group col-md-8">
                                Fecha Visita PCR:
                                <input type="date" required class="form-control pruebaPCR" id="txtFechaVisitaPCR" asp-for="FechaVisitaPcr" name="FechaVisitaPcr" disabled>
                            </div>
                        </td>



                        <td id="tdPCR2">

                            <div class="form-group col-md-8">
                                Fecha Prueba PCR:
                                <input type="date" required class="form-control pruebaPCR" id="txtFechaPruebaPCR" asp-for="FechaPruebaPcr" name="FechaPruebaPcr" disabled>
                            </div>
                        </td>
                        <td id="tdPCR1">
                            Resultado Prueba PCR:
                            <select id="ddlResutaldoPruebaPCR" name="ResultadoCargaViralPcr" asp-for="ResultadoCargaViralPcr" class="form-control pruebaPCR" required disabled>
                                <option value="">--Seleccione--</option>
                                <option>Detectado</option>
                                <option>No Detectado</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="trNota">
                        <td colspan="4">*NOTA: Si usted no tiene los datos para confirmar puede guardar el formulario en este punto y continuar cuando tenga la información</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="divPrEPTratamiento" style="display:none">

            <div class="tituloDiv"><strong>Pruebas Diagnósticas Iniciales</strong></div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group col-md-6">
                              @*   Tiene más de 6 meses en terapia hormonal (solo aplica para hombres):
                                <input type="checkbox" id="chkHormonal"  name="chkHormonal" disabled>
                                <br> *@
                                Resultado de Creatinina(Plasmatica):
                                <br>
                                <input id="txtResultadoCreatinina" disabled onchange="calcularCreatinina(value);" asp-for="CreatininaValor" name="CreatininaValor" type="number" min="0" max="60" style="width: 100%;" class="segundaParte form-control col-sm-2">
                                <br>

                                Fecha:
                                <br>
                                <input id="txtFechaResultadoCreatinina" disabled required asp-for="FechaResultadoCreatinina" name="FechaResultadoCreatinina" class="segundaParte form-control col-sm-2 date" type="date">
                                <br>
                                Resultado:
                                <br>
                                <input id="ResultadoCreatinina" disabled readonly asp-for="ResultadoCreatinina" name="ResultadoCreatinina" class="form-control segundaParte" />
                            </div>
                        </td>
                        <td colspan="2">


                            Rango valores de Creatinina
                            <br>
                            <input id="chkCreatinina2" name="creatinina" class="styled" type="radio" value="61-70 ml/min" disabled /> 61-70 ml/min
                            <input id="chkCreatinina3" name="creatinina" class="styled" type="radio" value="71-80 ml/min" disabled /> 71-80 ml/min
                            <br>
                            <input id="chkCreatinina4" name="creatinina" class="styled" type="radio" value="81-90 ml/min" disabled /> 81-90 ml/min
                            <input id="chkCreatinina5" name="creatinina" class="styled" type="radio" value="91-100 ml/min" disabled /> 91-100 ml/min
                            <br>
                            <input id="chkCreatinina6" name="creatinina" class="styled" type="radio" value=">100 ml/min" disabled /> &gt;100 ml/min
                            <br>
                            <span style="font-size:0.7em;">
                                - Hombres:[140-(edad) x Peso(Kg)]/[72 x Creatinina plasmatica]<br>
                                - Mujeres:[140-(edad) x Peso(Kg) x 0.85]/[72 x Creatinina plasmatica]<br>
                                - Utilizar la fórmula de mujeres en mujeres biológicas y Trans que <br>tengan más de 6 meses en terapia de reemplazo hormonal.
                                - Metodología Cockcroft-Gault Convencional
                            </span>
                        </td>
                        <td>
                            Tiene un aclaramiento de creatinina (TFGe) menor de 60ml/min
                            <div class="radio radio-info">
                                <input id="chkaclaramiento1" required asp-for="AclaramientoCreatinina" name="AclaramientoCreatinina" disabled class="styled segundaParte" type="radio" value="Si" readonly>
                                <label for="chkaclaramiento1">
                                    Si
                                </label>
                            </div>
                            <div class="radio radio-info">
                                <input id="chkaclaramiento2" asp-for="AclaramientoCreatinina" name="AclaramientoCreatinina" disabled class="styled segundaParte" type="radio" value="No" readonly>
                                <label for="chkaclaramiento2">
                                    No
                                </label>
                            </div>

                        </td>



                    </tr>
                    <tr>
                        <td>



                            <div class="form-group col-md-6">
                                Sifilis(VDRL) Realizada:
                                <br>
                                <input id="rdsifilis1" required onclick="habilitarInputSifilis(value);" disabled class="styled segundaParte" type="radio" name="Sifilis" value="No Reactivo"> No Reactivo
                                <br />
                                <input id="rdsifilis2" onclick="habilitarInputSifilis(value);" disabled class="styled segundaParte" type="radio" name="Sifilis" value="Reactivo"> Reactivo
                                <input id="txtfechasifilis1" required disabled name="SifilisFecha" class="form-control col-sm-2 date" type="date" style="display:initial;" placeholder="Fecha">
                            </div>
                        </td>
                        <td>


                            <div class="form-group col-md-8">
                                HBsAg Realizada:
                                <br>

                                <input id="rdHBsAg1" required onclick="habilitarInputHBsAg(value);" disabled class="styled segundaParte" type="radio" name="HbsAg" value="Negativo"> Negativo
                                <input id="rdHBsAg2" onclick="habilitarInputHBsAg(value);" disabled class="styled segundaParte" type="radio" name="HbsAg" value="Positivo"> Positivo

                                <input id="txtfechaHBsAg1" required disabled name="HbsAgFecha" class="form-control col-sm-5  date" type="date" style="display:initial;" placeholder="Fecha">
                            </div>
                        </td>

                        <td>

                            <div class="form-group col-md-8">
                                Hepatitis C Realizada:
                                <br>
                                <input id="rdHepatitis1" required onclick="habilitarInputHepatitis(value);" disabled class="styled segundaParte" type="radio" name="HepatitisC" value="Negativo"> Negativo
                                <input id="rdHepatitis2" onclick="habilitarInputHepatitis(value);" disabled class="styled segundaParte" type="radio" name="HepatitisC" value="Positivo"> Positivo
                                <input id="txtfechaHepatitis" required disabled name="HepatitisCFecha" class="form-control col-sm-8 date" type="date" style="display:initial;" placeholder="Fecha" oninvalid="GetMensajeError('El campo fecha hepatitis es requerido.')">
                            </div>
                        </td>
                        <td>
                            ITS sindrómico
                            <br>

                            <input id="ITDSindromico2" required onclick="habilitarInputsindrómico(value);" disabled class="styled segundaParte" type="radio" name="ItsDiagnosticoPresuntivo" value="Si"> Si
                            <input id="ITDSindromico1" onclick="habilitarInputsindrómico(value);" disabled class="styled segundaParte" type="radio" name="ItsDiagnosticoPresuntivo" value="No"> No
                            <br>
                            <input name="SecrecionUretral" class="sindromico" type="checkbox" value="true" disabled /> Secrecion Uretral
                            <br>
                            <input name="SecrecionVaginal" class="sindromico" type="checkbox" value="true" disabled /> Secrecion Vaginal
                            <br>
                            <input name="UlceraGenital" class="sindromico" type="checkbox" value="true" disabled /> Ulcera genital
                            <br>
                            <input name="VerrugasGenitales" class="sindromico" type="checkbox" value="true" disabled /> Verrugas genitales
                            <br>

                        </td>
                    </tr>
                    <tr>
                        <td id="Hemogramap" colspan="2">
                            Hemograma:
                            <br>
                            <input disabled required id="rdHemo1" class="styled segundaParte" type="radio" name="Hemograma" value="No Realizado"> No Realizado
                            <input disabled id="rdHemo2" class="styled segundaParte" type="radio" name="Hemograma" value="Realizado"> Realizado
                            <br>
  
                        </td>
                        <td id="UREAp" colspan="2">
                            UREA:
                            <br>
                            <input disabled required id="rdUrea1" class="styled segundaParte" type="radio" name="Urea" value="No Realizado"> No Realizado
                            <input disabled id="rdUrea2" class="styled segundaParte" type="radio" name="Urea" value="Realizado"> Realizado
                            <br>
                        </td>



                    </tr>
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Registrar Elegibilidad</button>
        <a onclick="history.back();" class="btn btn-danger" href="~/DatosGenerales/ConsultaDatosGenerales"><i class="fa-solid fa-xmark"></i> Cancelar</a>
        <br />
        <br />
        <br />
    </div>
        
</form>




<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:red">Advertencia</h5>
                <button type="button" onclick="cerrarModal();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="cuerpoModal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cerrarModal();" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

	<script type="text/javascript">

       //        Se necesita contar con una prueba de VIH realizada menor de una semana.

        const cerrarModal = () => {
            $('#myModal').modal('hide');
        }
        const calcularCreatinina = (e) => {
            var KG = 2.205;
            var Edad = @ViewBag.Edad;
            var Peso = @ViewBag.Peso;
            var PesoKG = Peso/KG;

            var valorCreatinina = document.getElementById("txtResultadoCreatinina").value;
            // Hombres:[140-(edad) x Peso(Kg)]/[72 x Creatinina plasmatica]
            // Mujeres:[140-(edad) x Peso(Kg) x 0.85]/[72 x Creatinina plasmatica]
            var Resultado = ((140 - 37) * PesoKG) / (72 * valorCreatinina);
            document.getElementById("ResultadoCreatinina").value = Resultado.toFixed(3)
        }


        var habilitarInputSifilis = (e) => {
            var valor = e;
            if (valor == "Reactivo") {

                $("#txtfechasifilis1").removeAttr("disabled");

            }
            if (valor == "No Reactivo") {
                $("#txtfechasifilis1").attr("disabled", false);

            }
        }

        var habilitarInputHBsAg = (e) => {
            var valor = e;
            if (valor == "Positivo") {

                $("#txtfechaHBsAg1").removeAttr("disabled");

            }
            if (valor == "Negativo") {
                $("#txtfechaHBsAg1").attr("disabled", false);

            }
        }


        var habilitarInputHepatitis = (e) => {
            var valor = e;
            if (valor == "Positivo") {

                $("#txtfechaHepatitis").removeAttr("disabled");

            }
            if (valor == "Negativo") {
                $("#txtfechaHepatitis").attr("disabled", false);

            }
        }

        var habilitarInputsindrómico = (e) => {
            var valor = e;
            if (valor == "Si") {

                $(".sindromico").removeAttr("disabled");

            }
            if (valor == "No") {
                $(".sindromico").attr("disabled", true);

            }

        }

        var habilitarInputVIH = (e) => {
            var valor = e;
            if (valor == "Si") {

                $(".pruebaVIH").removeAttr("disabled");

            }
            if (valor == "No") {
                $(".pruebaVIH").attr("disabled", true);
                $("#cuerpoModal").empty();
                document.getElementById("cuerpoModal").innerHTML = "Se necesita contar con una prueba de VIH realizada menor de una semana.";
                $('#myModal').modal('show');
            }

        }
        const VIHPositivo = () => {
            $("#MunicipioResidencia").empty();
            var IdElegibilidad = document.getElementById("IdElegibilidad").value;

            $.post("@Url.Action("VIHPositivo","Elegibilidad")", { id: IdElegibilidad }, function (modelos) {
                console.log(modelos);

            });
        }
        const paginaPrincipal = () => {
            var local = window.location.host;
            console.log(local);
            var origin = "/DatosGenerales/ConsultaDatosGenerales";
            window.location.href = "https://" + local + origin;
        }
        var resultadoVIH = (e) => {
            var valor = e;

            if (valor == "Negativo") {
                $("#chkNoSignos1").removeAttr("disabled");
                $("#chkNoSignos2").removeAttr("disabled");

            } 

            if(valor == "Positivo"){
                var con = confirm("Esta seguro de este resultado?");
                if (con == true) {
                    $("#cuerpoModal").empty();
                    document.getElementById("cuerpoModal").innerHTML = "El ciudadano debe ser referido al programa nacional VIH. El formulario se da por terminado y rechaza la solicitud";
                    $('#myModal').modal('show');
                    VIHPositivo();
                    setTimeout(paginaPrincipal, 5000);

                    
                }
                document.getElementById("rdVIH2").checked = false;
            }

        }

        var tieneSintomas = (e) => {
            var valor = e;

            if (valor == "Si") {
                $(".chSignos").removeAttr("disabled");

            }

            if(valor == "No"){
                $(".chSignos").attr("disabled", true);

            }
        }

        var habilitarInputPCR = (e) => {
            var valor = e;

            if(valor == "Si"){
                $(".pruebaPCR").removeAttr("disabled");
                document.getElementById("divPrEPTratamiento").style.display = "none";
                $(".segundaParte").attr("disabled", true);


            }
            if (valor == "No") {
                $(".pruebaPCR").attr("disabled", true);

                document.getElementById("divPrEPTratamiento").style.display = "block";
                $(".segundaParte").attr("disabled", false);
            }
        }


        var diferenciaFecha = () => {
            var fechaPrueba = new Date(document.getElementById("txtFechaRealizacionPrueba").value);
            const minDate = fechaPrueba.toISOString().split("T")[0];
            const maxDate = new Date(fechaPrueba.setDate(fechaPrueba.getDate() + 7))
                .toISOString()
                .split("T")[0];

            var min = document.getElementById("txtFechaEntregaResultados").setAttribute('min', minDate);
            var max = document.getElementById("txtFechaEntregaResultados").setAttribute('max', maxDate);
            var fecha = fechaPrueba.toISOString().split("T")[0];
        

        }


    
    </script>

}