@model List<ElegibilidadPrepHistorico>



<h2>Histórico de elegibilidad por paciente</h2>
<table class="table">
    <tbody>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>Sexo</th>
            <th>Nacionalidad</th>
        </tr>
        <tr>

            <td>@ViewBag.IdDatos</td>
            <td>@ViewBag.Nombre</td>
            <td>@ViewBag.Apellido</td>
            <td>@ViewBag.Sexo</td>
            <td>@ViewBag.nacionalidad</td>
        </tr>
    </tbody>
</table>

@* <h5>Seguimientos</h5>
 *@
<table class="table">
    <thead>
        <tr>
            <th> ID Historico </th>
            <th>Fecha Elegibilidad</th>
            <th> Resultado Prueba VIH</th>
            <th>Fecha de Prueba VIH</th>
            <th>Fecha de Reintegro</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IdFila
                </td>
               
                

                @if (item.FechaElegibilidad.HasValue)
                {
                    <td>@item.FechaElegibilidad.Value.ToString("dd-MM-yyyy")</td>
                }
                else
                {
                    <td>Sin Informacion</td>
                }
             
                <td>@item.ResultadoPruebaVih</td>
               
                @if (item.FechaPruebaVih.HasValue)
                {
                    <td>@item.FechaPruebaVih.Value.ToString("dd-MM-yyyy")</td>
                }
                else
                {
                    <td>Sin Informacion</td>
                }

                @if (item.FechaReintegro.HasValue)
                {
                    <td>@item.FechaReintegro.Value.ToString("dd-MM-yyyy")</td>
                }
                else
                {
                    <td>No Ha Sido Reintegrado</td>
                }

                <td>
                    <a class="btnSeguimiento2" href="~/Elegibilidad/ElegibilidadVerPorId/@item.IdFila">Ver Elegibilidad</a> |
                </td>

            </tr>


        }

    </tbody>
</table>

<br>
<br>

<br>

<br>

@* <a id="btnRetonar" onclick="history.back();"> Volver al Listado de Pacientes Registrados en PrEP</a> *@

<button onclick="history.back();" class="btn btn-danger" style="margin-left: 5px;">
    <i class="fa-solid fa-backward"></i> Volver atrás
</button>


<br>
<br>

<br>


          