@{
    
    ViewBag.Title = "PruebaPacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using System.Linq;
    ProyectoPREP.Models.DbPrepContext Entidad = new ProyectoPREP.Models.DbPrepContext();

   
}
@model List<DatosGenerale>


<h2>PruebaPacientes</h2>

<div style="display: none;" id="tablaContainer" class="container">
    <br />
    <a style="margin-left:300px" asp-action="CreateCedula" asp-controller="DatosGenerales"  class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Crear nuevo</a>

    <table id="miTabla" class="table display" data-role="table" width="100%" >       

        <thead>
            
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Fecha</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombres</td>
                        <td>@item.Apellidos</td>
                        <td>@item.Sexo</td>
                        <td>@item.Documento</td>
                        <td>@item.FechaIngresoSai.ToString().Substring(0,10)</td>
                        <td>
                           @* <button href="#" type="button" data-id="@item.Id" class="btn btn-primary btnEditPaciente">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </button>*@
                            <a class="btn btn-dark" href="~/DatosGenerales/EditarDatosGenerales/@item.Id">Edit</a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
