@model List<ProyectoPREP.Proc.GestionPacientesAprobados>

<h2>Recibir Paciente</h2>

<table class="table table-striped table-hover">
    <thead>

        <tr>
            <th>ID PREP</th>
            <th>Nombres </th>
            <th>Apellidos</th>
            <th>Fecha Ingreso PrEP</th>
            <th>Procedencia</th>
            <th>Estatus Transferencia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nombres

                </td>
                <td>
                    @item.Apellidos
                </td>
                <td>
                    @item.Fecha_Ingreso_SAI
                </td>
                <td>
                    @item.NombreCentro
                </td>
                <td>
                    @item.Estatus_Solicitud
                </td>
                <td>

                    <a id="btnAceptar" name="btnAceptar" class="btn btn-info" href="~/GestionPacientes/AceptarPacientesAdmin/@item.Id" title="Aceptar">
                        <i class="glyphicon glyphicon-ok"></i>
                    </a>

                    <a id="btnRechazar" name="btnRechazar" class="btn btn-danger" href="~/GestionPacientes/RechazarPacientesAdmin/@item.Id" title="Rechazar">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    </a>

                </td>
            </tr>

        }
    </tbody>

</table>
